{% extends 'base.html' %}
{% block content %}

<form action='/user/new_reset_password' method='POST'>
    <div class="form-group">
        <label for="validationCustom01">{{ get_word('enter new password') }}</label>
        <input name='password' style='max-width: 25rem;' type="password" class="form-control" id="validationCustom01" placeholder="new password">
        <input type='hidden' value='{{ reset }}' name='reset'>
        <input type='hidden' value='{{ username }}' name='username'>
    </div>

    <button class='btn btn-sm btn-primary' type='submit' name='submit' value='reset'>{{ get_word_fr('new password') }}</button>
</form>

{% endblock %}