{% extends 'base.html' %}
{% block content %}

<form action='/user/password_reset' method='POST'>
    <div class="form-group">
        <label for="validationCustom01">{{ get_word('Enter Email To Reset Password', cap_all=True) }}</label>
        <input name='email' style='max-width: 25rem;' type="text" class="form-control" id="validationCustom01" placeholder="email">
    </div>

    <button class='btn btn-sm btn-primary' type='submit' name='submit' value='reset'>{{ get_word('send email') }}</button>
</form>

{% endblock %}
