{% extends 'mod/base.html' %}
{% block mod_body %}
<div class='add-mod'>
  <form action='/mod/add' method='POST'>
    <div class="input-group mb-3">
      <button type='submit' class="btn btn-primary mod-add-button" type="button">&nbsp;
        <i class='fa fa-user'></i>
        <i class='fa fa-plus'></i>
      </button>
      <input type='hidden' name='sub' value='{{ request.sub }}'>
      <input type="text" name='username' class="form-control" placeholder='{{ get_word('Add User To Mods', cap_all=True) }}'>
    </div>
  </form>
  
  <form action='/mod/remove' method='POST'>
    <div class="input-group mb-3">
      <button type='submit' class="btn btn-danger mod-add-button" type="button">&nbsp;
        <i class='fa fa-user'></i>
        <i class='fa fa-ban'></i>
      </button>
      <input type='hidden' name='sub' value='{{ request.sub }}'>
      <input type="text" name='username' class='form-control' placeholder='Remove User From Mods'>
    </div>
  </form>
  </div>
{% endblock %}
