{% extends 'mod/base.html' %}
{% block mod_body %}

<div class='mod-page-sub-title'>
    <h5 style='display: inline-block;'>{{ get_word('Title', cap=[0]) }}:</h5>
    <h6 style='display: inline-block;'>&nbsp;{% if request.sub_title %}{{ request.sub_title }}{% else %}{{ get_word('No Title', cap_all=True) }}{% endif %}</h6>
    {% if request.is_mod %}
    <form action='/mod/title' method='POST'>
        <div class="input-group mb-3 mod-edit-container">
            <input type='hidden' name='sub' value='{{ request.sub }}'>
            {% if request.sub_title != None %}
                <input type="text" name='title' class="form-control rounded" value="{{ request.sub_title }}">
            {% else %}
                <input type="text" name='title' class="form-control rounded" placeholder="Example: A place for friends." aria-label="Username">
            {% endif %}
        <br><button type='submit' class="btn btn-primary rounded" type="button">{{ get_word('Update Title', cap_all=True) }}</button>
        </div>
    </form>
    {% endif %}
</div>

<div id='display-rules'>
    <h3>{{ get_word('Description', cap=[0]) }}</h3>
            <div class="safe-markup-text sub-mod-rules">
                {% if sub.markup_rules %}
                    {{ sub.markup_rules }}
                {% else %}
                    {{ get_word('No Description', cap_all=True) }}.
                {% endif %}
            </div>
        </div>
        {% if request.is_mod %}
            <div class='margin-lr sub-desc-edit mod-edit-container'>
                <form action='/mod/edit/description' method='POST'>
                    <div class='form-group'>
                        <!-- Remember, no identation should be placed in textarea tags. -->
                        <textarea name='rtext' class="form-control safe-markup-text sub-desc-edit-text">{% if sub.rules != None %}{{ sub.rules }}{% endif %}</textarea>
                    </div>
                    <button type='submit' name='sub' value='{{ request.sub }}' class="btn btn-primary" type="button">{{ get_word('Update description', cap_all=True) }}</button>
                </form>
            </div>
        {% endif %}
</div>

{% endblock %}
