{% extends 'mod/base.html' %}
{% block mod_body %}


<h4 class='sub-settings-text'>{{ get_word('settings') }}</h4>
<form action='/mod/settings' method='POST'>
    <input type='hidden' name='sub' value='{{ request.sub }}'>
    <ul class="list-group">
        <li class="list-group-item rounded sub-settings">
            <input type='checkbox' id="modMarkSubNSFW" name='marknsfw' value='nsfw' {% if sub.nsfw %}checked{% endif %}> {{ get_word('Mark All Posts NSFW?') }}
        </li>
    </ul>
    <div class="form-group">
        <label>{{ get_word('Subreddit CSS') }}</label>
        <textarea name='newcss' class="form-control sub-css" style='resize: both;'>{{ sub.css }}</textarea>
    </div>

    <div class='pref-language'>
        <p>Language: </p>
        <select class="custom-select" name='language-select'>
            {% set languages = config.LANGUAGES %}

            {% if session['sub_language'] %}
                <option selected value="{{ session['language'] }}">{{ session['language'] }}</option>
            {% endif %}

            {% for x in languages %}
                {% if x != session['sub_language'] %}
                    <option value="{{ x }}">{{ x }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <br>

    <button type='submit' name='sub' value='{{ request.sub }}' class="btn btn-primary" type="button">{{ get_word('Update') }}</button>
</form>


{% endblock %}
