textarea {
	resize: both;
}

#sub-dropdown-search{
	margin-left: 1rem;
	margin-right: 1rem;
}
.allcomment-comment {
	margin-top: 0.5rem;
}

.user-opt {
	margin-right: 0.5rem;
	margin-top: 0.5rem;
}

.user-options-comments {
	display: contents;
}

.post-row {
	margin-right: 0px;
	max-height: 1rem;
	margin-bottom: 0.75rem;
}

#menu-items {
	max-height: 8rem;
	overflow: auto;
}

.post-row-top {
	font-size: 0.8rem;
}

.post-image {
	margin-left: 0.5rem;
	margin-right: 0.5rem!important;
	min-height: 1.5rem;
	min-width: 1.5rem;
	max-height: 5rem;
	max-width: 5rem;
}

.post-image-container {
	min-height: 5rem;
	min-width: 6rem;
}

.posts-media-body {
	max-width: -webkit-fill-available;
	max-width: -moz-available;
}

.num-and-com {
	min-width: 3rem;
}

.comment-fontawesome {
	display: none;
}


@media only screen and (max-width: 768px) {
	.self-post-image {
		display: none;
	}

	.comment-fontawesome {
		display: inline;
	}
	.comment-span {
		display: none;
	}
	.comment-page-image {
		display: none;
	}
	.sub-post-comment-page {
		margin-left: 0.5rem;
	}
	.post-image {
		max-height: 4.75rem;
		max-width: 4.75rem;
	}

	.posts-media-body a {
		font-size: 90%;
	}
	.sub-post-title-link {
		font-size: 100%!important;
	}
	.comment-link {
		font-size: 100%!important;
	}
	.posts-media-body button {
		font-size: 90%;
	}
	.sub-post-title {
		margin-right: 10px;
	}
}

#logout-right {
    margin-right: -1rem;
    float: right;
    margin-left: 1rem;
	font-size: 80%;
    margin-top: 0.25rem;
}

#logout-left {
	display: none;
}

@media only screen and (max-width: 992px) {
	#logout-right {
		display: none;
	}
	#logout-left {
		display: inline-block;
	}
}

.quoted-text {
	background-color: lavender;
	padding-left: 0.25rem;
	margin-bottom: 0;
}

.generic-alert {
	padding-top: 1rem;
	padding-left: 4rem;
	padding-right: 4rem;
}

.comment-reply {
	margin-right: 0.75rem;
}

.comment-reply-box-wrapper {
	min-width: 16rem;
	min-height: 3rem;
	margin-top: 1.25rem;
}

.comment-reply-box-expand {
	min-width: 300px;
	max-width: 700px;
    width: -webkit-fill-available;
    width: -moz-available;
    min-height: 8rem;
}

#comment-reply-box {
	margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
    margin-top: 0.5rem!important;
	max-width: 40rem;
}

.comment-more {
	margin-left: 1rem;
}

#top-comment-reply-box {
	max-width: 40rem;
}

.post-text-area-button {
	margin-bottom: 1rem;
}

.comment-image {
	margin-left: 0.5rem;
	margin-right: 1.5rem!important;
	height: 88px;
	width: 88px;
}
.post-title-h5 {
	margin-top: 4px;
}
.comment-text {
	min-height: 50px;
	margin-top: 4px;
}

.comment-text-area-button {
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.sub-post-title-link {
	font-size: 1rem;
	color: #212529;
}

.sub-post-title {
	margin-top: -0.75rem;
	min-height: 40px;
}

.top-of-post {
	margin-left: 1rem;
}

.top-post-sublink {
	color: #212529;
}

.comment-textarea-button {
	float: right;
	margin-bottom: 0.5rem;
}

.user-icon-link {
	margin-left: 0.25rem;
	text-decoration: none;
	color: #212529}

.user-icon-link:hover {
    color: #212529;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: none;
    text-decoration-color: none;
}

.user-icon-link a {
	color: #212529;
}

#signup-form-container {
	display: block;
}

#content {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#register-container {
	width: 20rem;
	display: inline-block;
}

#login-container {
	margin-right: 1rem;
	width: 18rem;
	display: inline-block;
	vertical-align: top}

.comment-voting {
	margin-left: 1em;
	margin-right: 1em;
}

.comment-post-voting{
	margin-left: 1em;
	margin-right: 1em;
}
.top-sort {
	margin-right: 0.25rem;
	margin-top: 0.25rem;
	background-color: transparent!important;
}

#prev-button {
	float: left;
}

#display-rules {
	margin-left: 1rem;
	white-space: inherit;
	max-height: 250rem;
	overflow: hidden;
	word-break: break-word;
}
.comment-media-body {
	min-height: 75px !important;
	margin-left: 0.5em;
}

.page {
	max-width: 1024px;
}

.mod-add-button {
	margin-right: 1rem;
}

#comment-page-wrapper{
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.message-body {
	border: 1px black solid;
	margin: 0.5rem;
	overflow-x: hidden;
}

.message-text-body {
	min-height: 7rem;
	margin: 0.5rem;
}

.message-top-row {
	margin-left: 1px;
	margin-right: 1px;
}

.message-bottom-row {
	margin-left: 1px;
	margin-right: 1px;
	border-top: 1px ridge;
	border-opacity: 0.5;
}

.in-reply-to {
	margin-left: 1rem;
}

.sub-post {
	margin-top: 0.5em;
	margin-right: 0.5em;
	border: 0px solid red;
	min-height: 92px;
	word-break: break-word;
	margin-bottom: 0.25rem;
}

.comment-post-title {
	min-height: 2.5rem;
}

.has-messages {
	margin: 0;
	margin-left: 1rem;
	font-color: black;
}

.has-messages-i {
	color: orange;
}

ul, li{
	white-space: normal;
}

.safe-markup-text ul {
	display: inline-block;
}

.expanded-selftext {
	margin-bottom: 1rem;
	max-height: 250rem;
	overflow: hidden;
}

selftext {
	white-space: normal/*pre-wrap*/;
	max-height: 200rem;
	overflow: hidden;
	word-break: break-word;
}
.reply-fa-user {
	margin-top: 4px;
}

blockquote {
   background-color: lightgrey;
}
.nsfw {
	display: inline;
	color: red;
	margin-left: 1rem;
}

.sub-list {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	border: 1px solid black;
}

.explore-link {
	margin-right: 1rem;
}
.sub-post-title-url {
	font-size: 0.8rem;
	color: #212529;
}
.explore-sub {
	margin-top: 1rem;
	border: 1px solid black;
}
.media-body-explore {
	margin: 0.5rem;
	max-height: 100rem;
	overflow: hidden;
	word-break: break-word;
	white-space: inherit;
}
.created-ago {
	margin-left: 1rem;
}

.sub-comment {
	margin-bottom: 0.25rem;
	border: 1px solid gray;
	word-break: break-word;
}

.comment-link {
	color: #212529;
}

.fa-arrow-up {
	color: #212529;
}

.fa-arrow-up a:hover {
	pointer-events: none;
}

.fa-arrow-down {
	color: #212529;
}


.user-dropdown {
	background-color: #262626!important;
	outline: none!important;
	box-shadow: none!important;
    text-align-last: center;
    padding-bottom: 3px;
    font-size: 100%;
}

.user-dropdown:focus {
	background-color: #262626!important;
	outline: none!important;
	box-shadow: none!important;
	font-size: 150%;
}
.mod-dropdown {
	background-color: #262626!important;
	outline: none!important;
	box-shadow: none!important;
    text-align-last: center;
    padding-bottom: 3px;
    font-size: 100%;
}
.mod-dropdown:focus {
	background-color: #262626!important;
	outline: none!important;
	box-shadow: none!important;
	font-size: 150%;
}


.fa-arrow-down a:hover {
	pointer-events: none;
}

.comment-text-text {
	white-space: /*pre-wrap*/ normal;
	word-break: break-word;
	max-height: 100rem;
	overflow: hidden;
}
.mod-option-wrapper {
	float: right;
	margin-right: 0.5rem;
	font-size: 90%;
	margin-top: 2px;
}

.mod-option-wrapper-comments {

	float: right;
	margin-right: 2px;
}

.post-mod-option-form {
	display: inline;
	height: 1rem;
}

.mod-option-button {
	background-color: rgb(0,0,0,0);
	margin-bottom: 1px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 1px;
	border: 0px ridge black;
	text-decoration: underline;
}

.mod-option-button-i {
	display: block;
}

.post-delete-button {

}
.post-sticky-button {

}

.bottom-subposts {
	margin: 0;
}
.user-options {
	margin-left: -5rem;
}
.user-options-mod-post {
	margin-left: 0rem;
	float: right;
}

.comment-mod-options {
	display: contents;
}

.left-of-mod-options {
	margin-right: 1rem;
}

#user-recent {
	margin-top: 3rem;
	border-top: 1px solid black;
}

.alert.success {
  background-color: green;
}

.alert.error {
  background-color: red;
}

.form-input-text {
    max-width: 35rem;
    min-height: 5rem;
}

.sub-posts-next {
	margin-bottom: 3rem;
	float: right;
}

.expand-post {
	font-size: 105%;
	display: inline-block;
    margin-left: 0;
    margin-right: 0.25rem;
    font-size: larger;
}

.expanded-selftext {
	margin-top: 0.25rem;
	background-color: #333333;
	border: 1px solid #555555;
}

.inline-code {
	white-space: /*pre-wrap*/normal;
	background-color: #222222;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
}

.inner-code {
	color: #bbb;
	display: inline-block;
}

.inner-selftext-wrapper {
	margin: 0.5rem;
}

.edit-input {
	min-height: 15rem;
}

#footer {
	text-align: center;
	width: 350px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

#footer p {
	text-align: center;
}

#footer a {
	text-align: center;
}

.footer-link {
	margin: 0.5rem;
}

.expanded-post {
	width: -webkit-fill-available;
	width: -moz-available;
}

.expanded-post-image {
	margin-bottom: 0.5rem;
}

ul {
	list-style-type: disc;
}

.comment-selftext-wrapper {
	min-height: 50px;
	margin-bottom: 0.25rem;
}

.preference-option {
	margin-left: 1.5rem;
}
.col.inner-div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 265px;
	/*margin-top: -0.5rem!important;*/
}

.nsfwpost {
	border: 1px solid #660000!important;
}

.recent {
	margin-left: 0rem;
	margin-top: 0.25rem;
}

.recent-bottom {
	float: right;
	margin-right: 1rem;
}

.next-to-comments {
	margin-left: 1rem;
}

.mod-page-button {
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

.mod-log-table {
	color: #bbb;
}

.banned-user {
	border: 1px solid #bbb!important;
	margin: 1rem;
}

.margin-lr {
	margin-left: 1rem;
	margin-right: 1rem;
}

.stat {
	display: inline-block;
	margin-left: 2rem;
}

.video-play-btn {
    font-size: 60%;
    border: 1px solid #bbb;
    padding-left: 4px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 1px;
    font-family: auto;
}

.col.inner-div.comment-inner-div {
	margin-top: -0rem!important;
}

.inner-combase {
	margin-top: -3px!important;
}

.comment-color-1 {
	background-color: #333333!important;
}

@media only screen and (max-width: 992px) {
	.sub-post.rounded {
		margin-left: 0rem;
	}
}

.row.post-row {
	margin-bottom: 16px;
}

.post-inner-div {
	margin-top: -0.5rem!important;
}


.decryptedContent {
	display: none;
}

.comment-markup-text {
	min-height: 3rem;
}
