.inner-div {
	border:0px solid green;
}

.post-row {
	margin-right: 0px;
}

.post-image {
	margin-left: 1rem;
}

.comment-text {
	min-height: 50px;
}

.comment-bottom {
}

.comment-voting {
	margin-left: 1em;
	margin-right: 1em;}

.comment-media-body {
	min-height: 100px !important;
	margin-left: 0.5em;
}

#page {
	max-width: 1024px;
}

.sub-post {
	margin-top: 10px;
	border: 0px solid red;
	min-height: 100px;
}

.sub-comment {
	border: 2px solid yellow;
}

.comment-link {
	color: #212529;
}
