.inner-div {
	border:0px solid green;
}

.post-row {
	margin-right: 0px;
}

.post-image {
	margin-left: 1rem;
}

#page {
	max-width: 1024px;
}

.sub-post {
	margin-top: 10px;
	border: 0px solid red;
}

.sub-comment {
	border: 2px solid yellow;
}

.comment-link {
	color: #212529;
}
