body {
	background-color: #262626;
}
.sub-post-title-link {
	color: #dedede;
}
.sub-post-title-url {
	color: #a6a6a6;
}

.top-of-post {
	color: #a6a6a6;
}

.comment-link {
	color: #a6a6a6;
}

.fa-arrow-up {
	color: #a6a6a6;
}

.fa-arrow-down {
	color: #a6a6a6;
}

.comment-text-text {
	color: #a6a6a6;
}