<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
	<!--  end bootstrap -->

	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
	<script src="{{ url_for('static', filename='main.js') }}"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='globe.png') }}">
	{% if request.sub %}
	<title>/r/{{ request.sub}} {% if request.subtitle != None %} - {{ request.subtitle }}{% endif %}</title>
	{% else %}
	<title>ieddit</title>
	{% endif %}
</head>
<body>
	<div id="page" class="mx-auto">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">ieddit<small style="font-size:50%;"> alpha</small></a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto navbar-right">

				<li class="nav-item">
					<a class="nav-link" href="/create"><button type="button" class="btn btn-sm btn-outline-secondary">Create Sub</button></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/create_post"><button type="button" class="btn btn-sm btn-outline-secondary">Create Post</button></a>
				</li>

				{% if request.sub %}
				<li class="nav-item active">
					<a class="nav-link" href="/r/{{ request.sub }}"><button type="button" class="btn btn-sm btn-outline-primary">/r/{{ request.sub }}</button></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/r/{{ request.sub }}/info/"><button type="button" class="btn btn-sm btn-outline-primary">info</button></a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="/explore/"><button type="button" class="btn btn-sm btn-outline-success">Explore</button></a>
				</li>
				{% endif %}
				{% if session['username'] %}
				<li class="nav-item active">
					<a class="nav-link" href="/logout">logout</a>
				</li>
				{% endif %}
			</ul>
		</div>
		<div class="navbar">
			<ul class="navbar-nav mr-auto navbar-right">
				{% if session['username'] %}
				<li class="nav-item active">
					<a class="nav-link" href="/u/{{ session['username'] }}"><i class="fa fa-user user-icon-link"></i> {{ session['username'] }}</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="/login/"><button type="button" class="btn btn-sm btn-outline-secondary">Login</button></a>
				</li>
				{% endif %}
			</ul>

			{% if session['username'] %}
			<ul class="navbar-nav mr-auto navbar-right">
					{% if session['has_messages'] %}
					<a class="has-messages nav-link user-icon-link" href="{{ config.URL }}/u/{{ session.username }}/messages/"><i class="has-messages-i fa fa-envelope"></i> ({{ session['unread_messages'] }})</a>
					{% else %}
					<a class="has-messages nav-link user-icon-link" href="{{ config.URL }}/u/{{ session.username }}/messages/"><i class="fa fa-envelope"></i> (0)</a>
					{% endif %}
			</ul>
			{% endif %}
		</div>
		<div class="navbar">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

			<span class="navbar-toggler-icon"></span>
		</button>

		</div>

	</nav>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class='flashes generic-alert' onload="autoFadeAlert()">
			{% for category, message in messages %}
			<div class="alert alert-dismissible alert-{{ category }} fade show" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</div>
</body>
</html>