<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<link href="{{ url_for('static', filename='font-awesome.min.css') }}" type="text/css" rel="stylesheet">
	<!--  end bootstrap -->

	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}?212">
	<script src="{{ url_for('static', filename='main.js') }}?212"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='globe.png') }}?212">
	<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}?212">
	<script src="{{ url_for('static', filename='main.js') }}?212"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='globe.png') }}?212">

	<link rel="stylesheet" href="{{ url_for('static', filename='darkmode.css') }}?212">

	{% if request.sub and request.sub != 'all' %}
	<title>/r/{{ request.sub}} {% if request.subtitle != None %} - {{ request.subtitle }}{% endif %}</title>

	{% if session['hide_sub_style'] != True %}
	{% set substyle = get_style(request.sub) %}
	{% if substyle != None %}
			<style type='text/css'>{{ substyle }}</style>
	{% endif %}
	{% endif %}

	{% else %}
	<title>ieddit</title>
	{% endif %}
</head>
<body class="bg-light">
<div class='background-contain'>
<div class='page-continer'>
<div class="page mx-auto">
	<nav class="navbar navbar-expand-lg navbar-light rounded">
		<a class="navbar-brand" href="/">ieddit<small style="font-size:50%;"> alpha</small></a>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto navbar-right">

				{% if request.sub and request.sub != 'all' %}
				<li class="nav-item active" style="margin-top: 0.25rem;">
					<a class="nav-link" href="/r/{{ request.sub }}">/r/{{ request.sub }}</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/r/{{ request.sub }}/info/"><button type="button" class="btn btn-sm btn-primary">information</button></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/create_post"><button type="button" class="btn btn-sm btn-success">Create Post +</button></a>
				</li>
				{% else %}
				<li class="nav-item active" style="margin-top: 0.25rem;">
					<a class="nav-link" href="/about/">about</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/r/all"><button type="button" class="btn btn-sm btn-danger">/r/all</button></a>
				</li>
				{% endif %}

				{% if request.sub and request.sub != 'all' %}
				{% if session['username'] %}
				{% if request.sub in session['blocked_subs'] %}
				<li class="nav-item">
					<a class="nav-link" href="/r/{{ request.sub }}/block"><button type="button" class="btn btn-sm btn-danger">unblock</button></a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="/r/{{ request.sub }}/block"><button type="button" class="btn btn-sm btn-danger">block</button></a>
				</li>
				{% endif %}
				{% endif %}

				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="/create"><button type="button" class="btn btn-sm btn-primary">Create Sub +</button></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/explore/"><button type="button" class="btn btn-sm btn-success">Explore</button></a>
				</li>
				{% endif %}
				{% if session['username'] %}
				<li class="nav-item active">
					<a class="nav-link" id='logout-left' href="/logout">logout</a>
				</li>
				{% endif %}
			</ul>
		</div>
		<div class="navbar">
			<ul class="navbar-nav mr-auto navbar-right">
				{% if session['username'] %}
				<li class="nav-item active">
					<a class="nav-link" href="/u/{{ session['username'] }}"><i class="fa fa-user user-icon-link"></i> {{ session['username'] }}</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="/login/"><button type="button" class="btn btn-sm btn-secondary">Login</button></a>
				</li>
				{% endif %}
			</ul>

			{% if session['username'] %}
			<ul class="navbar-nav mr-auto navbar-right">
					{% if session['has_messages'] %}
					<a class="has-messages nav-link user-icon-link" href="{{ config.URL }}/u/{{ session.username }}/messages/"><i class="has-messages-i fa fa-envelope"></i> ({{ session['unread_messages'] }})</a>
					{% else %}
					<a class="has-messages nav-link user-icon-link" href="{{ config.URL }}/u/{{ session.username }}/messages/"><i class="fa fa-envelope"></i> (0)</a>
					{% endif %}
				<li class="nav-item active">
					<a class="nav-link" id='logout-right' href="/logout">logout</a>
				</li>
			</ul>
			{% endif %}
		</div>
		<div class="navbar">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

			<span class="navbar-toggler-icon"></span>
		</button>

		</div>
</nav>
</div>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class='flashes generic-alert' onload="autoFadeAlert()">
			{% for category, message in messages %}
			<div class="alert alert-dismissible alert-{{ category }} fade show" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
</div>
</div>
<div class='page-container bg-light'>
<div class="mx-auto bg-light page">
	<div id="content" class="bg-light">
		{% block content %}
		{% endblock %}
	</div>
</div>
</div>

<!-- ? -->
<small>
<div id='footer'>
	<a href='https://ieddit.com' class='footer-link'><i class='fa fa-globe'></i> ieddit.com</a>
	<a href='https://kiwiirc.com/nextclient/irc.freenode.net/#ieddit' class='footer-link'><i class='fa fa-comment'></i> irc</a>
	<a href='https://discord.gg/Q3nYw6Z' class='footer-link'><i class='fa fa-phone-square'></i> discord</a>	
	<a href='https://github.com/cc-d/ieddit' class='footer-link'><i class='fa fa-github'></i> github</a>
</div>
</small>

</body>
</html>
