<li id="hide-comment-{{ comment.id }}" class="media sub-comment media-body rounded" level="{{ loop.depth - 1 }}" style="margin-left:{{ loop.depth - 1 }}rem; overflow: hidden; height: 2 rem; display: none; height: 2rem; min-height: 2rem;" loop='{{ loop.index0 }} {{ loop.depth0 }}'>
		<div class="media-body comment-media-body">
		<div class="row post-row">
			<div class="col inner-div">
			<small>
			
			
			<i style="color: lightblue;" class="fa fa-user"></i><a style="color: lightblue;" class="user-icon-link" href="http://dev.ieddit.com/u/test">[m]test</a>
			
			</small>
			<a href="http://dev.ieddit.com/r/test/1/test_title/28/">
				<small class="created-ago comment-link">32m</small>
			</a>
			<small class="created-ago">
			
			<a class="comment-link" href="http://dev.ieddit.com/r/test/1/test_title/">
			parent</a>
				</small><small class="created-ago">

					<a class="hide-comment" href="javascript:minShow({{ comment.id }})">[+]</a></small>
			
			</div>
		</div>			
	
	</div>
</li>