{% set count = [0] %}
{% for comment, post in comments_with_posts %}
{% if count.append(count.pop() + 1) %}{% endif %}

{% if comment.anonymous %}
{% set cauthor = 'Anonymous' %}
{% set cauthor_type = 'user' %}
{% else %}
{% set cauthor = comment.author %}
{% set cauthor_type = comment.author_type %}
{% endif %}

{% if comment.deleted == False %}
{% if userpage and comment.anonymous %}

{% else %}

{% if no_posts %}
<div class="allcomment-comment">
{% endif %}
<li class="media sub-comment media-body rounded">
    <div class='media-body comment-media-body'>
        <div class="row post-row">
            <div class="col inner-div">
            <small>
            {% if cauthor_type == 'admin' %}
            {% if comment.edited %}* {% endif %}
            <i style="color: red;" class="fa fa-user"></i><a style="color: red;" class="user-icon-link" href="{{ config.URL }}/u/{{ comment['author'] }}">[a]{{ cauthor }}</a>
            {% elif cauthor_type == 'mod' %}
            <i style="color: lightblue;" class="fa fa-user"></i><a style="color: lightblue;" class="user-icon-link" href="{{ config.URL }}/u/{{ comment['author'] }}">[m]{{ post.author }}</a>
            {% else %}
            <i class="fa fa-user"></i><a class="user-icon-link" href="{{ config.URL }}/u/{{ cauthor }}">{{ cauthor }}</a>
            {% endif %}
            </small>
                <a href="{{ config.URL }}/r/{{ post.sub }}/" style="margin-left: 0.5rem;">
                    <small class="comment-link">/r/{{ post.sub }}</small>
                </a>
                <a href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.id }}/">
                    <small class="created-ago comment-link">{{ comment.created_ago }}</small>
                </a>
                {% if comment.parent_id != None %}
                <a class="comment-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.parent_id }}/">
                {% else %}
                <a class="comment-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/">
                {% endif %}
                    <small class="created-ago">parent</small>
                </a>
            </div>
        </div>
        <div clss="comment-text">
            <p class="comment-text-text safe-markup-text">{{ comment.text|safe }}</p>
        </div>
        <div class="row post-row comment-bottom">
            <div class="inner-div comment-voting" vote-obj-id="{{ comment.id }}" vote-obj-type="comment" vote-userid="session['user_id']" has_voted="{{ comment.has_voted }}">
{% if comment.has_voted == 1 %}
                <a href="javascript:void(0)"><i style="color: orange;"class="fa fa-arrow-up"></i></a>
{% else %}
                <a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
{% endif %}
                <vote class="score">{{ comment.ups - comment.downs }}</vote>
{% if comment.has_voted == -1 %}
                <a href="javascript:void(0)"><i style="color: lightblue;" class="fa fa-arrow-down"></i></a>
{% else %}
                <a href="javascript:void(0)"><i class="fa fa-arrow-down"></i></a>
{% endif %}
            </div>
            <a class="comment-link comment-reply" href="{{ comment.permalink }}" comment_id="{{ comment.id }}">reply</a>
        </div>
{% if session['username'] == comment.author or session['username'] in comment.mods %}
<small>

                <div class='mod-option-wrapper user-options recent'>
                    <a href='{{ config.URL }}/user/edit/comment/{{ comment.id }}/' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' class='mod-option-button'>edit</button>
                    </a>|
                    <form action='{{ config.URL }}/user/delete/comment' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='comment_id' value='{{ comment.id }}' class='mod-option-button'>delete</button>
                    </form>|

{% endif %}
{% if loop.depth0 == 4 and value|length > 0 %}
                <a class="comment-link  comment-more" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.id }}/">
                    more>>
                </a>
{% endif %}

{% if session['username'] in comment.mods %}
    {% if session['username'] not in comment.author %}
                    <form action='{{ config.URL }}/mod/delete' method='POST' class='post-mod-option-form post-mod-delete-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-delete-button'>delete</button>
                    </form>|
    {%  endif %}
                    <form action='{{ config.URL }}/mod/ban' method='POST' class='post-mod-option-form post-mod-delete-form'>
                        <button type='submit' name='post_id' value='{{ post.author }}' class='mod-option-button post-delete-button'>ban</button>
                    </form>
                </div>
                </div>
            </small>
{% endif %}
    </div>
</li>

{% if no_posts and userpage == False %}
    </div>
{% endif %}

{% endif %}

{% endif %}

{% else %}
<p> no comments </p>
{% endfor %}

{% if count.pop() > 0 %}
<!-- <p> user has additional anonymous comments </p> -->
{% endif %}
