{% extends 'base.html' %}
{% block content %}

<ul class="list-unstyled">
	<li class="media sub-post">
		<img class="mr-3" src="https://via.placeholder.com/100" alt="Generic placeholder image">
		<div class="media-body">
			<div class="row post-row row-space">
				<div class="col inner-div">
					<a class="user-icon-link" href="{{ url }}/u/{{ post['author'] }}"><i class="fa fa-user "></i>{{ post.author }}</a>
				</div>
			</div>
			<h6>{{ post.title }}</h6>
			<div class="row post-row comment-bottom">
				<div class="inner-div comment-voting">
					<a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
					0
					<a href="javascript:void(0)"><i class="fa fa-arrow-down"></i></a>
				</div>
			<div class="inner-div">
				<a class="comment-link" href="{{ post['site_url'] }}">{{ post.comment_count }} comments</a>
			</div>
			</div>
		</div>
	</div>
</li>
</ul>

<form id='reply-box' action='/create_comment' method='POST'>
	<input type='text' name='comment_text'>
	<input type='hidden' name='post_id' value='{{post_id}}'>
	<input type='hidden' name='post_url' value='{{post_url}}'>
	<input type='submit' value='new comment'>
</form>

<form id='comment-reply-box' action='/create_comment' method='POST' style="display: none;">
	<input type='text' name='comment_text'>
	<input type='hidden' name='post_id' value='{{post_id}}'>
	<input type='hidden' name='post_url' value='{{post_url}}'>
	<input type='hidden' name='parent_id' id='parent_id'>
	<input type='submit' value='reply'>
</form>
{{ tree }}
<ul class="list-unstyled">
	{%- for key, value in tree.items() recursive %}  
	<li class="media sub-comment media-body" style="margin-left:{{ loop.depth - 1 }}em">
		<div class='media-body comment-media-body'>
		<div class="row post-row">
			<div class="col-12 inner-div">
				<i class="fa fa-user"></i> {{ key.username }}
			</div>
		</div>
		<div class="comment-text">
		<p>{{ key.text }}</p>
	</div>
			<div class="row post-row comment-bottom">
				<div class="inner-div comment-voting">
					<a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
					0
					<a href="javascript:void(0)"><i class="fa fa-arrow-down"></i></a>
				</div>
			<div class="inner-div">
				<a class="comment-link comment-reply" href="javascript:void(0)" comment_id='{{ key.id }}'>reply</a>
			</div>
			</div>

	</div>
			<!--
			<div class="col-2 inner-div">
				<i class="fa fa-arrow-up"></i>
				0
				<i class="fa fa-arrow-down"></i>
			</div>
			<div class="col-4 inner-div">
				<a class="comment-link comment-reply" href="javascript:void(0)" comment_id='{{ key.id }}'>reply</a>
			</div>-->
	</li> <!-- ??? -->

	{%- if value %}
	{{ loop(value.items()) }}
	{% endif %}
	{% else %}
	<p>no comments</p>
	{%- endfor %}
</ul>
{% endblock %} 