{% if cominline == True %}
	<li class="media sub-comment media-body rounded comment-color-{{ loop.depth0 % 2 }}" level="{{ loop.depth - 1 }}" style="margin-left:{{ loop.depth - 1 }}rem" loop='{{ loop.index0 }} {{ loop.depth0 }}' id="comment-{{ comment.id }}">
{% else %}
<li class="media sub-comment media-body rounded">
{% endif %}
		<div class='media-body comment-media-body'>
		<div class="row post-row">
			<div class="col inner-div comment-inner-div">
			<small>
			{% if comment.edited %}* {% endif %}
			{% if cauthor_type == 'admin' %}
			<i style="color: red;" class="fa fa-user"></i><a style="color: red;" class="user-icon-link" href="{{ config.URL }}/u/{{ cauthor }}">[a]{{ cauthor }}</a>
			{% elif cauthor_type == 'mod' %}
			<i style="color: lightblue;" class="fa fa-user"></i><a style="color: lightblue;" class="user-icon-link" href="{{ config.URL }}/u/{{ cauthor }}">[m]{{ pauthor }}</a>
			{% else %}
			<i class="fa fa-user"></i><a class="user-icon-link" href="{{ config.URL }}/u/{{ cauthor }}">{{ cauthor }}</a>
			{% endif %}
			</small>
			<a href="{{ config.URL }}/i/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.id }}/">
				<small class="created-ago comment-link">{{ comment.created_ago }}</small>
			</a>
			<small class="created-ago">
			{% if comment.parent_id != None %}
			<a class="comment-link" href="{{ config.URL }}/i/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.parent_id }}/">
			{% else %}
			<a class="comment-link" href="{{ config.URL }}/i/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/">
			{% endif %}parent</a>
				</small><small class="created-ago">
{% if cominline == True %}
					<a class="hide-comment" href="javascript:minHide({{ comment.id }});">[-]</a>
{% endif %}</small>
			</div>
		</div>
		<div class='comment-selftext-wrapper'>
		<div class="comment-text comment-text-text safe-markup-text">{{ comment.new_text|safe }}</div>
		</div>	
		{% if session['user'] not in post.mods %}
		<div class="row post-row comment-bottom" style='margin-bottom: 1rem!important; display: inline; width: 100%;'>
		{% else %}
		<div class="row post-row comment-bottom" style='display: inline; width: 100%;'>
		{% endif %}

<div style='display: inline;' class="inner-div comment-voting" vote-obj-id="{{ comment.id }}" vote-obj-type="comment" vote-userid="session['user_id']" has_voted="{{ comment.has_voted }}">
	{% if comment.has_voted == 1 %}
	<a href="javascript:void(0)"><i style="color: orange;"class="fa fa-arrow-up"></i></a>
	{% else %}
	<a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
	{% endif %}
	<vote class="score">{{ comment.get_score() }}</vote>
	{% if comment.has_voted == -1 %}
	<a href="javascript:void(0)"><i style="color: lightblue;" class="fa fa-arrow-down"></i></a>
	{% else %}
	<a href="javascript:void(0)"><i class="fa fa-arrow-down"></i></a>
	{% endif %}
</div>
			<div class="inner-div applyinline" style="display: inline;">
				{% if post.locked == False %}
				<a class="comment-link comment-reply" href="javascript:void(0)" comment_id="{{ comment.id }}">reply</a>
				{% endif %}


<div style='display:inline-block;' class="dropup btn-group rounded v-button" id='dot-button-{{ post.id }}'>
    <button class="btn btn-secondary rounded btn-sm bottom-dropdown three-dots" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class='fa fa-ellipsis-h'></i>  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <!-- <a class="dropdown-item" id='copy-link-{{ post.id }}' href='javascript:copyToClipboard("{{ post.permalink }}")'>copy link</a>-->
        <a class="dropdown-item" id='hide-post-{{ post.id }}' href='javascript:hideObject("comment_id", "{{ comment.id }}")'>hide comment</a>

        {% if comment.author_id not in session['blocked']['other_user'] %}
        <a class="dropdown-item" href="javascript:blockUser('comment_id','{{ post.id }}');">block user</a>
        {% endif %}


            {% if session['username'] == comment.author %}
			<a class="dropdown-item" href="/user/edit/comment/{{ comment.id }}/">edit</a>
            {% endif %}

            {% if session['username'] == comment.author %}
    		<a class="dropdown-item" href="javascript:formSubmit('user-delete-comment-{{ comment.id }}')">delete</a>
    		{% endif %}

    </div>
</div>

			{% if cominline %}
				{% if loop.depth0 == 4 and value|length > 0 %}
					<a class="comment-link" href="{{ config.URL }}/i/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.id }}/"><button class = 'btn-sm btn btn-success comment-more'>
						view more <i class='fa fa-arrow-circle-right '></i>
					</button></a>
				{% endif %}
			{% endif %}

<div class='commoptions' style='float: right; margin: 0.5rem; margin-top: 0rem;'>

{% if session['username'] in post.mods or session['admin'] == True %}
<div class="dropdown bottom-post-dropdown">
  <button class="btn btn-info btn-sm btn-com-bot bottom-dropdown comment-button-dropdown" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class='fa fa-gavel'><h6 class='btn-description'>mod</h6> </i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if session['username'] != comment.author %}
			<a class="dropdown-item" href="javascript:formSubmit('mod-delete-comment-{{ comment.id }}')">delete</a>
            {% endif %}
    		<a class="dropdown-item" href="javascript:formSubmit('btn-mod-ban-comment-{{ comment.id }}')">ban</a>
  </div>
</div>
{% endif %}


			<script>document.write('<style>.hide-div{display: none;}</style>')</script>
			{% if session['username'] == comment.author %}
			<div class='mod-option-wrapper user-options user-options-comments hide-div'>
				<small>
					<a href='{{ config.URL }}/user/edit/comment/{{ comment.id }}/' class='post-mod-option-form post-mod-sticky-form'>
						<button type='submit' class='mod-option-button'>edit</button>
					</a>
					<form action='{{ config.URL }}/user/delete/comment' method='POST' class='post-mod-option-form post-mod-sticky-form'>
						<button id='btn-user-delete-comment-{{ comment.id }}' type='submit' name='comment_id' value='{{ comment.id }}' class='mod-option-button'>delete</button>
					</form>
				</small>
			</div>
			{% endif %}
			</div>
			{% if session['username'] in post.mods %}
			<div class='mod-option-wrapper-comments hide-div'><small>
					<form action='{{ config.URL }}/mod/delete/comment' method='POST' class='post-mod-option-form post-mod-delete-form'>
						<button id='btn-mod-delete-comment-{{ comment.id }}' type='submit' name='comment_id' value='{{ comment.id }}' class='mod-option-button post-delete-button'>delete</button>
					</form>|
					<form action='{{ config.URL }}/mod/ban' method='POST' class='post-mod-option-form post-mod-delete-form'>
						<input name='iid' type='hidden' value='{{ comment.id }}'>
						<input name='itype' type='hidden' value='comment'>
						<button type='submit' id='btn-mod-ban-comment-{{ comment.id }}' name='post_id' value='{{ cauthor }}' class='mod-option-button post-delete-button'>ban</button>
					</form>
			</small></div>
			</div>
			{% endif %}
</div>

	{% if parent_comment.id and loop.index0 == 0 and loop.depth0 == 0 %}
	{% if post.locked == False %}

{% with %}
{% set reptype = 'comment' %}
{% set h = False %}
{% include 'comment-reply.html' %}
<script> $('#comment-reply-box').css('display', 'none'); </script>
{% endwith %}


	{% endif %}
	{% endif %}
	</div>
	</li> 
