{% extends 'base.html' %}
{% block content %}
{% if post.anonymous %}
{% set pauthor = 'Anonymous' %}
{% set pauthor_type = 'user' %}
{% else %}
{% set pauthor = post.author %}
{% set pauthor_type = post.author_type %}
{% endif %}
<div id="comment-page-wrapper">
	{% set pre_expand = True %}
	{% include 'sub_post.html' %}
<!--
<div id="row">
	<unstyled> sort by: </unstyled>
	{% if not parent_comment.id %}
	<a class="comment-link" href="{{ post_url }}sort-top"><small>top</small></a>
	<unstyled><small>|</small></unstyled>
	<a class="comment-link" href="{{ post_url }}sort-new"><small>new</small></a>
	{% else %}
	<a class="comment-link" href="{{ post_url }}{{ parent_comment.id }}/sort-top"><small>top</small></a>
	<unstyled><small>|</small></unstyled>
	<a class="comment-link" href="{{ post_url }}{{ parent_comment.id }}/sort-new"><small>new</small></a>
	{% endif %}
</div>-->
{% if not parent_comment.id %}
{% if post.locked %}
<h2>post is locked</h2>
{% endif %}
{% if post.locked == False %}
{% if session['username'] and session['user_id'] %}
<form id='post-reply-box' class='rounded' style='margin-left: 0.25rem; margin-top: 0.25rem;' action='/create_comment' method='POST'>
	<div class="comment-reply-box-wrapper">
		<textarea class="comment-reply-box-expand rounded" name="comment_text"></textarea>
	</div>
	<input type='hidden' name='post_id' value='{{ post_id }}'>
	<input type='hidden' name='post_url' value='{{ post_url }}'>
	<input type='hidden' name='sub_name' value='{{ post.sub }}'>
	<input class="post-text-area-button btn btn-secondary btn-sm" style='background-color: whitesmoke; margin-left: 0.25rem; ' type='submit' value='new comment'>
	<small> anonymous? </small>
	{% if session['anonymous'] %}
	<input type='checkbox' name='anonymous' value='1' checked>
	{% else %}
	<input type='checkbox' name='anonymous' value='1'>
	{% endif %}
</form>

<form id='comment-reply-box' action='/create_comment' method='POST' style="display: none;">
	<br>
	<div class="comment-reply-box-wrapper">
		<textarea class="comment-reply-box-expand" name="comment_text"></textarea>
	</div>
	<input type='hidden' name='post_id' value='{{ post_id }}'>
	<input type='hidden' name='post_url' value='{{ post_url }}{{ parent_comment.id }}'>
	<input type='hidden' name='sub_name' value='{{ post.sub }}'>
	<input type='hidden' name='parent_id' id='parent_id'>
	<input class="comment-text-area-button" type='submit' value='reply'>
	<small> anonymous? </small>
	{% if session['anonymous'] %}
	<input type='checkbox' name='anonymous' value='1' checked>
	{% else %}
	<input type='checkbox' name='anonymous' value='1'>
	{% endif %}
</form>
{% else %}
<form id='post-reply-box' action='/create_comment' method='POST'>
	<div class="comment-reply-box-wrapper">
		<textarea class="comment-reply-box-expand" name="comment_text" disabled="disabled"></textarea>
	</div>
	<input type='hidden' name='post_id' value='{{ post_id }}'>
	<input type='hidden' name='post_url' value='{{ post_url }}'>
	<input type='hidden' name='sub_name' value='{{ post.sub }}'>
	<input class="post-text-area-button" type='submit' value='new comment' disabled="disabled"><small> <a href="{{ config.URL }}/login">login to comment</a></small>
</form>

<form id='comment-reply-box' action='/create_comment' method='POST' style="display: none;">
	<br>
	<div class="comment-reply-box-wrapper">
		<textarea class="comment-reply-box-expand" name="comment_text" disabled="disabled"></textarea>
	</div>
	<input type='hidden' name='post_id' value='{{ post_id }}'>
	<input type='hidden' name='post_url' value='{{ post_url }}{{ parent_comment.id }}'>
	<input type='hidden' name='sub_name' value='{{ post.sub }}'>
	<input type='hidden' name='parent_id' id='parent_id'>
	<input class="comment-text-area-button" type='submit' value='reply' disabled="disabled"><small> <a href="{{ config.URL }}/login">login to reply</a></small>
</form>

{% endif %}

{% endif %}
{% endif %}

<ul class="list-unstyled comment-reply-list">
	{%- for comment, value in tree.items() recursive %}  
{% if comment.anonymous %}
{% set cauthor = 'Anonymous' %}
{% set cauthor_type = 'user' %}
{% else %}
{% set cauthor = comment.author %}
{% set cauthor_type = comment.author_type %}
{% endif %}
	{% if loop.depth0 < 5 %}
	{% include 'collapsed.html' %}


	<li class="media sub-comment media-body rounded comment-color-{{ loop.depth0 % 2 }}" level="{{ loop.depth - 1 }}" style="margin-left:{{ loop.depth - 1 }}rem" loop='{{ loop.index0 }} {{ loop.depth0 }}' id="comment-{{ comment.id }}">
		<div class='media-body comment-media-body'>
		<div class="row post-row">
			<div class="col inner-div comment-inner-div">
			<small>
			{% if comment.edited %}* {% endif %}
			{% if cauthor_type == 'admin' %}
			<i style="color: red;" class="fa fa-user"></i><a style="color: red;" class="user-icon-link" href="{{ config.URL }}/u/{{ cauthor }}">[a]{{ cauthor }}</a>
			{% elif cauthor_type == 'mod' %}
			<i style="color: lightblue;" class="fa fa-user"></i><a style="color: lightblue;" class="user-icon-link" href="{{ config.URL }}/u/{{ cauthor }}">[m]{{ pauthor }}</a>
			{% else %}
			<i class="fa fa-user"></i><a class="user-icon-link" href="{{ config.URL }}/u/{{ cauthor }}">{{ cauthor }}</a>
			{% endif %}
			</small>
			<a href="{{ config.URL }}/i/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.id }}/">
				<small class="created-ago comment-link">{{ comment.created_ago }}</small>
			</a>
			<small class="created-ago">
			{% if comment.parent_id != None %}
			<a class="comment-link" href="{{ config.URL }}/i/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.parent_id }}/">
			{% else %}
			<a class="comment-link" href="{{ config.URL }}/i/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/">
			{% endif %}parent</a>
				</small><small class="created-ago">

					<a class="hide-comment" href="javascript:minHide({{ comment.id }});">[-]</a></small>
			
			</div>
		</div>
		<div class='comment-selftext-wrapper'>
		<selftext class="comment-text comment-text-text safe-markup-text">{{ comment.text|safe }}</selftext>
		</div>	
		<div class="row post-row comment-bottom">

<div class="inner-div comment-voting" vote-obj-id="{{ comment.id }}" vote-obj-type="comment" vote-userid="session['user_id']" has_voted="{{ comment.has_voted }}">
	{% if comment.has_voted == 1 %}
	<a href="javascript:void(0)"><i style="color: orange;"class="fa fa-arrow-up"></i></a>
	{% else %}
	<a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
	{% endif %}
	<vote class="score">{{ comment.score }}</vote>
	{% if comment.has_voted == -1 %}
	<a href="javascript:void(0)"><i style="color: lightblue;" class="fa fa-arrow-down"></i></a>
	{% else %}
	<a href="javascript:void(0)"><i class="fa fa-arrow-down"></i></a>
	{% endif %}
</div>
			<div class="inner-div">
				{% if post.locked == False %}
				<a class="comment-link comment-reply" href="javascript:void(0)" comment_id="{{ comment.id }}">reply</a>
				{% endif %}
			{% if session['username'] == comment.author %}
			<div class='mod-option-wrapper user-options user-options-comments'>
				<small>
					<a href='{{ config.URL }}/user/edit/comment/{{ comment.id }}/' class='post-mod-option-form post-mod-sticky-form'>
						<button type='submit' class='mod-option-button'>edit</button>
					</a>
					<form action='{{ config.URL }}/user/delete/comment' method='POST' class='post-mod-option-form post-mod-sticky-form'>
						<button type='submit' name='comment_id' value='{{ comment.id }}' class='mod-option-button'>delete</button>
					</form>
				</small>
			</div>
			{% endif %}
				{% if loop.depth0 == 4 and value|length > 0 %}
					<a class="comment-link  comment-more" href="{{ config.URL }}/i/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.id }}/">
						more>>
					</a>
				{% endif %}
			</div>
			</div>
			{% if session['username'] in post.mods %}
			<div class='mod-option-wrapper-comments'><small>
					<form action='{{ config.URL }}/mod/delete/comment' method='POST' class='post-mod-option-form post-mod-delete-form'>
						<button type='submit' name='comment_id' value='{{ comment.id }}' class='mod-option-button post-delete-button'>delete</button>
					</form>|
					<form action='{{ config.URL }}/mod/ban' method='POST' class='post-mod-option-form post-mod-delete-form'>
						<input name='iid' type='hidden' value='{{ comment.id }}'>
						<input name='itype' type='hidden' value='comment'>
						<button type='submit' name='post_id' value='{{ cauthor }}' class='mod-option-button post-delete-button'>ban</button>
					</form>
			</small></div>
			{% endif %}
	{% if parent_comment.id and loop.index0 == 0 and loop.depth0 == 0 %}
	{% if post.locked == False %}
<form id='comment-reply-box' action='/create_comment' method='POST' style="display: block;">
	<br>
	<div class="comment-reply-box-wrapper">
		<textarea class="comment-reply-box-expand" name="comment_text"></textarea>
	</div>
	<input type='hidden' name='post_id' value='{{ post_id }}'>
	<input type='hidden' name='post_url' value='{{ post_url }}{{ parent_comment.id }}'>
	<input type='hidden' name='parent_id' id='parent_id' value='{{ parent_comment.id }}'>
	<input type='hidden' name='sub_name' value='{{ post.sub }}'>
	<input class="comment-text-area-button" type='submit' value='reply'>
	<small> anonymous? </small>
	{% if session['anonymous'] %}
	<input type='checkbox' name='anonymous' value='1' checked>
	{% else %}
	<input type='checkbox' name='anonymous' value='1'>
	{% endif %}
</form>
<script> $('#comment-reply-box').css('display', 'none'); </script>
	{% endif %}
	{% endif %}
	</div>
	</li> 
	{%- if value %}
	{{ loop(value.items()) }}
	{% endif %}
	{% endif %}
	{% else %}
	<p>no comments</p>
	{%- endfor %}
</ul>
</div>
{% endblock %} 
