{% extends 'base.html' %}
{% block content %}

<div id="comment-page-wrapper">

<ul class="list-unstyled">
	<li class="media sub-post">
		<img class="mr-3 comment-image" src="{{ url_for('static', filename='globe.png') }}">
		<div class="media-body">
			<div class="row post-row row-space">
				<div class="col inner-div">
					<small><a class="user-icon-link" href="{{ url }}/u/{{ post['author'] }}"><i class="fa fa-user "></i>{{ post.author }}</a></small>
					<small><a class="top-of-post top-post-sublink" href="{{ config.URL }}/r/{{ post.sub }}">/r/{{ post.sub }}</a></small>
					<small class="created-ago">{{ post.created_ago }}</small>
				</div>
			</div>
    <div class="comment-post-title">
    <a class="sub-post-title-link" href="{{ post.url }}">{{ post.title }}</a> 
    <small><a href="{{ post.url }}" class="sub-post-title-url">({{ post.remote_url_parsed }})</a></small>
    </div>
			<div class="row post-row comment-bottom">
<div class="inner-div comment-voting">
	<a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
	{{ post.ups - post.downs }}
	<a href="javascript:void(0)"><i class="fa fa-arrow-down"></i></a>
</div>
			<div class="inner-div">
				<a class="comment-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/">{{ post.comment_count }} comments</a>
			</div>
			</div>
		</div>
</li>
</ul>

{% if not parent_comment.id %}
<form id='top-comment-reply-box' action='/create_comment' method='POST'>
	<div class="comment-reply-box-wrapper">
		<textarea class="comment-reply-box-expand" name="comment_text"></textarea>
	</div>
	<input type='hidden' name='post_id' value='{{ post_id }}'>
	<input type='hidden' name='post_url' value='{{ post_url }}'>
	<input type='hidden' name='parent_id'>
	<input class="comment-text-area-button" type='submit' value='new comment'>
</form>
{% endif %}


<form id='comment-reply-box' action='/create_comment' method='POST' style="display: none;">
	<div class="comment-reply-box-wrapper">
		<textarea class="comment-reply-box-expand" name="comment_text"></textarea>
	</div>
	<input type='hidden' name='post_id' value='{{ post_id }}'>
	<input type='hidden' name='post_url' value='{{ post_url }}'>
	<input type='hidden' name='parent_id' id='parent_id'>
	<input class="comment-text-area-button" style="float: right;" type='submit' value='reply'>
</form>

<ul class="list-unstyled">
	{%- for comment, value in tree.items() recursive %}  
	<li class="media sub-comment media-body" style="margin-left:{{ loop.depth - 1 }}rem">
		<div class='media-body comment-media-body'>
		<div class="row post-row">
			<div class="col inner-div">
    		<i class="fa fa-user"></i> <a class="user-icon-link" href="{{ config.URL }}/u/{{ comment.username }}">{{ comment.username }}</a>
            <a href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.id }}/">
            	<small class="created-ago comment-link">{{ comment.created_ago }}</small>
            </a>
			{% if comment.parent_id != None %}
            <a class="comment-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.parent_id }}/">
            {% else %}
            <a class="comment-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/">
           	{% endif %}
            	<small class="created-ago">parent</small>
            </a>
			</div>
		</div>
		<div class="comment-text">
		<p class="comment-text-text">{{ comment.text }}</p>
	</div>
			<div class="row post-row comment-bottom">
<div class="inner-div comment-voting">
	<a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
	{{ comment.ups - comment.downs }}
	<a href="javascript:void(0)"><i class="fa fa-arrow-down"></i></a>
</div>
			<div class="inner-div">
				<a class="comment-link comment-reply" href="javascript:void(0)" comment_id='{{ comment.id }}'>reply</a>
			</div>
			</div>
	{% if parent_comment.id and loop.index0 == 0 and loop.depth0 == 0 %}
<form id='comment-reply-box' action='/create_comment' method='POST' style="display: block;">
	<br>
	<div class="comment-reply-box-wrapper">
		<textarea class="comment-reply-box-expand" name="comment_text"></textarea>
	</div>
	<input type='hidden' name='post_id' value='{{ post_id }}'>
	<input type='hidden' name='post_url' value='{{ post_url }}{{ parent_comment.id }}'>
	<input type='hidden' name='parent_id' value='{{ parent_comment.id }}'>
	<input class="comment-text-area-button" type='submit' value='reply'>
</form>
	{% endif %}
	</div>
	</li> 

	{%- if value %}
	{{ loop(value.items()) }}
	{% endif %}
	{% else %}
	<p>no comments</p>
	{%- endfor %}
</ul>
</div>
{% endblock %} 