{% extends 'base.html' %}
{% block content %}
<form class="needs-validation" novalidate method='post'>
	<div class="form-group form-input-text" style="max-width: 25rem;">
	<label for="create-post-title">Create Sub</label>
	<input name='subname' type="text" class="form-control" id="create-post-title" placeholder="Sub Name">
	</div>

	<div class="captcha-div">
	{% if config.CAPTCHA_ENABLE %}
	{{ captcha() }}
	<input type="text" id='captcha' name="captcha">
</div>
	<br>
	{% endif %}
	<button type="submit" class="btn btn-primary btn-dark">Create Sub</button>
	<br><br><br>
</form>
{% endblock %}