{% extends 'base.html' %}
{% block content %}

{% for sub in subs %}
<div class="media explore-sub rounded ">
  <div class="media-body media-body-explore">
    <h5 class="mt-0"><a href="{{ config.URL }}/i/{{ sub.name }}">/i/{{ sub.name }} {% if sub.nsfw %}<a style="color: red;">nsfw</a>{% endif %} {% if sub.title != None %} - {{ sub.title }}{% endif %}</a></h5>
    {% if sub.rules %}
    <div class="safe-markup-text">
    {{ sub.new_rules|safe }}
</div>
    {% else %}
    This sub has no description.
    {% endif %}
    <br>
    <a class="explore-link" href="{{ config.URL }}/i/{{ sub.name }}">({{sub.posts}}) posts</a><a><a/><a class="explore-link" href="{{ config.URL }}/i/{{ sub.name }}">({{sub.comments}}) comments</a>
  </div>
</div>
{% endfor %}
<br><br><br>
{% endblock %}