<div class="media">
{% if message.encrypted %}
<div style='border: 1px solid green;' class="media-body message-body rounded">
<textarea id='other-pgp-pubkey-{{ message.id }}' style='display: none;'>{{ message.sender_pgp.pubkey }}</textarea>
{% else %}
<div class="media-body message-body rounded">
{% endif %}
  	<div class="message-text-body">
  	{% if message.sender %}
  	<div class="row message-top-row">
      {% if message.sender_type == 'admin' and message.anonymous == False %}
      <i style="color: red;" class="fa fa-user reply-fa-user"></i><a style="color: red;" class="user-icon-link" href="{{ config.URL }}/u/{{ message.sender }}">[a]{{ message.sender }}</a>
      {% elif message.sender_type == 'mod' and message.anonymous == False %}
      <i style="color: lightblue;" class="fa fa-user reply-fa-user"></i><a style="color: lightblue;" class="user-icon-link" href="{{ config.URL }}/u/{{ message.sender }}">[m]{{ message.sender }}</a>
      {% elif message.anonymous == True %}
      <i class="fa fa-user reply-fa-user"></i><a class="user-icon-link" href="{{ config.URL }}/u/Anonymous">Anonymous</a>
      {% else %}
      <i class="fa fa-user reply-fa-user"></i><a class="user-icon-link" href="{{ config.URL }}/u/{{ message.sender }}">{{ message.sender }}</a>
      {% endif %}
      {% if message.in_reply_to != None %}
  		<div class="in-reply-to">
  		<small><a class="user-icon-link" href="{{ message.in_reply_to }}">{{ message.ppath }}</a></small>
  		</div>
  		{% endif %}
  	</div>
  	{% endif %}
    <h5 class="mt-0 message-title">{{ message.title }}</h5>
    {% if message.encrypted == False %}
		  <div class="safe-markup-text" id='message-{{ message.id }}'>{{ message.text|safe }}</div>
    {% else %}
      <div class="safe-markup-text" style='color: green; margin: 1rem;'>
          <i class='fa fa-lock'></i>
          MESSAGE ENCRYPTED
          <button class="btn btn-sm btn-primary readEncryptedMessage" id="readEncryptedMessage" aria-msgid="{{ message.id }}">read</button>
          <textara style='display: none;' class='emessage' id='encrypted-message-{{ message.id }}'>{{ message.text }}</textara>
      </div>
        <div class="decryptedContent" id="decryptedContent-{{ message.id }}"></div>
    {% endif %}
	{% if message.in_reply_to != None %}
	<div class="row message-bottom-row">
	<small><a class="user-icon-link" href="{{ message.in_reply_to }}">reply</a></small>
	</div>
	{% elif message.sender != None %}
	<div class="row message-bottom-row">
	<small><a class="user-icon-link" href="reply/{{ message.id }}">reply</a></small>
	</div>
	{% endif %}
	</div>
  </div>
</div>
