{% extends 'base.html' %}
{% block content %}

{% if unread != None or read != None %}
{% if has_encrypted %}

{% if session['pgp_enabled'] %}

<textarea id='self-pgp-username' style='display: none;'>{% if self_pgp.username %}{{ self_pgp.username }}{% else %}{% endif %}</textarea>
<textarea id='self-pgp-privkey' style='display: none;'>{% if self_pgp.privkey %}{{ self_pgp.privkey }}{% else %}{% endif %}</textarea>
<textarea id='self-pgp-pubkey' style='display: none;'>{% if self_pgp.pubkey %}{{ self_pgp.pubkey }}{% else %}{% endif %}</textarea>

{% include 'crypto.html' %}

<div class='margin-lr'>
	<button class='btn btn-success' id='decrypt-button'><i class='fa fa-lock'></i> Decrypt Messages </button>
</div>

{% endif %}
{% endif %}
{% endif %}

{% if unread != None %}
<h2 class='margin-lr'> unread messages </h2>
{% for message in unread %}

{% if message.encrypted == True and message.encrypted_key_id == self_pgp.id|string %}
	{% include 'message.html' %}
{% elif message.encrypted == True and message.encrypted_key_id|string != self_pgp.id|string and message.encrypted_key_id|string != 'None' %}
	<div class='margin-lr'><p style='color: red;'>you have a encrypted messages but (probably) cannot read it. Sent to: {{ message.encrypted_key_id }} - You are: {{ self_pgp.id }}</p></div>
{% else %}
	{% include 'message.html' %}
{% endif %}

{% else %}
<p class='margin-lr'> no unread messages</p><br><br>
{% endfor %}
{% endif %}




{% if read != [] %}
<h2 class='margin-lr'> read messages </h2>
{% for message in read %}

{% if message.encrypted == True and message.encrypted_key_id|string == self_pgp.id|string %}
	{% include 'message.html' %}
{% elif message.encrypted == True and message.encrypted_key_id|string != self_pgp.id|string and message.encrypted_key_id|string != 'None' %}
	<div class='margin-lr'><p style='color: red;'>you have a encrypted messages but (probably) cannot read it. Sent to: {{ message.encrypted_key_id }} - You are: {{ self_pgp.id }}</p></div>
{% else %}
	{% include 'message.html' %}
{% endif %}

{% else %}
<p class='margin-lr'> no unread messages</p><br><br>
{% endfor %}
{% endif %}



{% if sent != [] %}
<h2 class='margin-lr'> sent messages </h2>
{% for message in sent %}
{% include 'message.html' %}
{% else %}

{% endfor %}
{% endif %}




{% endblock %}
