{% extends 'base.html' %}
{% block content %}

{% include 'crypto.html' %}
<div class='margin-lr'>
{% if pgp.privkey %}
<h5 style='color:red;'> WARNING: You are generating a NEW keypair.</h5>
<h6 style='color:red;'> This will OVERWRITE your existing keypair. </h6><br>
{% endif %}
<div id='passphrase' style='display: none;'>
<h6 style='color:yellow;'>Press 'UPDATE KEY' at the bottom of page to save a new key.</h6>
<h6> Passphrase </h6>
<small><p> This is how you will decrypt messages. <br> Write it down somewhere safe or (preferably) memorize it.</p></small>
<textarea style='width: 300px;' class='rounded' id='secret' readonly></textarea><br>
</div>
{% if pgp.privkey %}
<button style='margin-top: 0.25rem;' class='rounded btn btn-danger' id="generateNewPublicKey" aria-label="{{ session["username"] }}">generate NEW keypair</button>
{% else %}
<button style='margin-top: 0.25rem;' class='rounded btn btn-success' id="replacePrivateKey" aria-label="{{ session["username"] }}">generate keypair</button>
{% endif %}
<br><br>
</div>


<form class='margin-lr' action='/user/addpgp' method='POST'>
    <input type="hidden" id="useremail" name="useremail" value="{{ user.username }}@ieddit.com" />
    <input type="hidden" id="username" name="username" value="{{ user.username }}" />
	<h6> Private Key </h6>
	<textarea class='rounded' id='privkey' name='privkey' readonly style='height: 200px; min-width: 300px; width: -webkit-fill-available;'>{% if pgp.privkey %}{{ pgp.privkey }}{% else %}{% endif %}</textarea><br>
	<h6> Public Key </h6>
	<textarea class='rounded' id='pubkey' name='pubkey' readonly style='height: 200px; min-width: 300px; width: -webkit-fill-available;'>{% if pgp.privkey %}{{ pgp.pubkey }}{% else %}{% endif %}</textarea><br>
	<button type='submit' class='btn btn-primary rounded'>update pgp key</button>
</form>

{% endblock %}
