{% extends 'base.html' %}
{% block content %}

{% include 'crypto.html' %}
<div class='margin-lr'>
<h6> Enter Passphrase </h6>
<input type='text' style='width: 300px;' class='rounded' id='secret'><br>
<a href='javascript:void(0)' onclick='generateKeyPairFromText("{{ session["username"] }}");'><button style='margin-top: 0.25rem;' class='rounded btn btn-success'>generate keypair</button></a>
<br><br>
</div>

<form class='margin-lr' action='/user/addpgp' method='POST'>
	<h6> Private Key </h6>
	<textarea class='rounded' id='privkey' name='privkey' style='height: 200px; width: 300px;'></textarea><br>
	<h6> Public Key </h6>
	<textarea class='rounded' id='pubkey' name='pubkey' style='height: 200px; width: 300px;'></textarea><br>
	<button type='submit' class='btn btn-primary rounded'>update pgp key</button>
</form>

{% endblock %}