	{% extends 'base.html' %}
{% block content %}

{% for post in posts %}
<ul class="list-unstyled">
  <li class="media sub-post">
    <img class="mr-3" src="https://via.placeholder.com/100" alt="Generic placeholder image">
    <div class="media-body">
    <div class="row post-row">
    	<div class="col inner-div">
    		<i class="fa fa-user"></i> {{ post['author'] }}
    	</div>
    </div>
      <h6>TIL that Thor Heyerdahl, a Norwegian Ethnographer, sailed from Peru to Polynesia on an primitive balsa wood raft to prove that ancient trans-oceanic travel was possible. When experts called it a fluke, he made an Egyptian reed boat and sailed it from Morocco to Central America to prove them wrong. </h6>
    <div class="row post-row">
    	<div class="col inner-div">
    		<a class="comment-link" href="{{ post['site_url'] }}">comments</a>
    	</div>
    </div>
    </div>
  </li>
</ul>
{% else %}
	<p> no posts </p>
{% endfor %}


{% endblock %}