{% if post.anonymous %}
{% set pauther = 'Anonymous' %}
{% set pauther_type = 'user' %}
{% else %}
{% set pauther = post.author %}
{% set pauther_type = post.author_type %}
{% endif %}

{% if loop is defined %}
{% if loop.last %}
<ul class="list-unstyled sub-list rounded" style="margin-bottom: 5px;">
{% elif loop.first %}
<ul class="list-unstyled sub-list rounded" style="margin-top: 5px;">
{% else %}
<ul class="list-unstyled sub-list rounded">
{% endif %}
{% endif %}
  <li class="media sub-post rounded">
    <div class="post-image-container">
        {% if post.post_type == 'url' %}
        <a href="{{ post.url }}">
            {% if post.thumbnail and post.nsfw == False %}
            <img class="mr-3 post-image" src="{{ url_for('static', filename=post.thumbnail) }}" alt="Generic placeholder image">
            {% elif post.nsfw == True %}
            <img class="mr-3 post-image" src="{{ url_for('static', filename='nsfw.png') }}" alt="Generic placeholder image">
            {% else %}
            <img class="mr-3 post-image" src="{{ url_for('static', filename='globe.png') }}" alt="Generic placeholder image">
            {% endif %}
        </a>
        {% elif post.nsfw == True %}
        <a href="{{ post.permalink }}">
        <img class="mr-3 post-image" src="{{ url_for('static', filename='globe.png') }}" alt="Generic placeholder image">
        </a>
        {% else %}
        <a href="{{ post.permalink }}">
            <img class="mr-3 post-image" src="{{ url_for('static', filename='comment.png') }}" alt="Generic placeholder image">
        </a>
        {% endif %}

    </div>
    <div class="media-body">
    <div class="row post-row">
    	<div class="col inner-div">
            {% if post.stickied == True %}
            <i class="fa fa-thumb-tack" style="margin-right: 0.5rem;"></i>
            {% endif %}
            {% if post.locked == True %}
            <i class="fa fa-lock" style="margin-right: 0.5rem;"></i>
            {% endif %}
            <small>
            {% if post.edited %}* {% endif %}
            {% if pauther_type == 'admin' %}
            <i style="color: red;" class="fa fa-user"></i><a style="color: red;" class="user-icon-link" href="{{ config.URL }}/u/{{ pauther }}">[a]{{ pauther }}</a>
            {% elif pauther_type == 'mod' %}
           <i style="color: blue;" class="fa fa-user"></i><a style="color: blue;" class="user-icon-link" href="{{ config.URL }}/u/{{ pauther }}">[m]{{ pauther }}</a>
            {% else %}
    		<i class="fa fa-user"></i><a class="user-icon-link" href="{{ config.URL }}/u/{{ pauther }}">{{ pauther }}</a>
            {% endif %}
            </small>
            <small><a class="top-of-post top-post-sublink" href="{{ config.URL }}/r/{{ post.sub }}">/r/{{ post.sub }}</a></small>
            <small class="created-ago"><a class="comment-link" href="{{ post.permalink }}">{{ post.created_ago }}</a></small>
    	</div>
    </div>
    <div class="sub-post-title">
    {% if post.post_type == 'url' %}
    <a class="sub-post-title-link" href="{{ post.url }}">{{ post.title }}</a> 
        <small><a href="{{ post.url }}" class="sub-post-title-url">({{ post.remote_url_parsed }})</a></small>
    {% else %}
    <a class="sub-post-title-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/">{{ post.title }}</a> 
        <small><a href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/" class="sub-post-title-url">(self.text)</a></small>
    {% endif %}
    </div>
    <div class="row post-row">
<div class="inner-div comment-post-voting" vote-obj-id="{{ post.id }}" vote-obj-type="post" vote-userid="session['user_id']" has_voted="{{ post.has_voted }}">
    {% if post.has_voted == 1 %}
    <a href="javascript:void(0)"><i style="color: orange;"class="fa fa-arrow-up"></i></a>
    {% else %}
    <a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
    {% endif %}
    <vote class="score">{{ post.ups - post.downs }}</vote>
    {% if post.has_voted == -1 %}
    <a href="javascript:void(0)"><i style="color: lightblue;" class="fa fa-arrow-down"></i></a>
    {% else %}
    <a href="javascript:void(0)"><i class="fa fa-arrow-down"></i></a>
    {% endif %}
</div>
    		<a class="comment-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/">{{ post.comment_count }} comments</a>
            {% if session['username'] == post.author %}
            <div class='mod-option-wrapper user-options'>
                <small>
                    {% if post.self_text %}
                    <a href='{{ config.URL }}/user/edit/post/{{ post.id }}/' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button'>edit</button>
                    </a>
                    {% endif %}
                    <form action='{{ config.URL }}/user/delete/post/' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button'>delete</button>
                    </form>
                    {% if post.nsfw == False %}
                    <form action='{{ config.URL }}/user/nsfw' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button'>nsfw</button>
                    </form>
                    {% endif %}
                </small>
            </div>
            {% endif %}
            {% if post.nsfw %}
            <p class='nsfw'>nsfw</p>
            {% endif %}
    	</div>
            {% if session['username'] in post.mods %}
            <div class='mod-option-wrapper'><small>
                {% if post.nsfw == False %}
                    <form action='{{ config.URL }}/mod/nsfw' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-sticky-button'>nsfw</button>
                    </form>|
                {% endif %}
                {% if post.stickied == False %}
                    <form action='{{ config.URL }}/mod/sticky/post/' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-sticky-button'>sticky</button>
                    </form>|
                {% else %}
                    <form action='{{ config.URL }}/mod/unsticky/post/' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-sticky-button'>unsticky</button>
                    </form>|
                {% endif %}
                    <form action='{{ config.URL }}/mod/lock/post' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-sticky-button'>
                        {% if post.locked == True %}unlock{% else %}lock{% endif %}</button>
                    </form>|
                    <form action='{{ config.URL }}/mod/delete/post/' method='POST' class='post-mod-option-form post-mod-delete-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-delete-button'>delete</button>
                    </form>|
                    <form action='{{ config.URL }}/mod/ban' method='POST' class='post-mod-option-form post-mod-delete-form'>
                        <input name='iid' type='hidden' value='{{ post.id }}'>
                        <input name='itype' type='hidden' value='post'>
                        <button type='submit' name='post_id' value='{{ pauther }}' class='mod-option-button post-delete-button'>ban</button>
                    </form>
            </small></div>
            {% endif %}
    </div>
  </li>
</ul>
{% if loop is defined %}
{% if loop.last %}

{% if session.prev_off_url %}
<a href="{{ session.prev_off_url }}" id="prev-button" class="sub-posts-next"><button type="button" class="btn btn-outline-secondary">prev</button></a>

{% endif %}
{% if post.more %}
<a href="{{ session.off_url }}" class="sub-posts-next"><button type="button" class="btn btn-outline-secondary">next</button></a>
{% endif %}
{% endif %}
{% endif %}