{% if post.anonymous %}
{% set pauther = 'Anonymous' %}
{% set pauther_type = 'user' %}
{% else %}
{% set pauther = post.author %}
{% set pauther_type = post.author_type %}
{% endif %}
<ul class="list-unstyled sub-list">
  <li class="media sub-post">
    <div class="post-image-container">
        {% if post.post_type == 'url' %}
            <img class="mr-3 post-image" src="{{ url_for('static', filename='globe.png') }}" alt="Generic placeholder image">
        {% else %}
            <img class="mr-3 post-image" src="{{ url_for('static', filename='comment.png') }}" alt="Generic placeholder image">
        {% endif %}
    </div>
    <div class="media-body">
    <div class="row post-row">
    	<div class="col inner-div">
            <small>
            {% if pauther_type == 'admin' %}
            <i style="color: red;" class="fa fa-user"></i><a style="color: red;" class="user-icon-link" href="{{ config.URL }}/u/{{ pauther }}">[a]{{ pauther }}</a>
            {% elif pauther_type == 'mod' %}
           <i style="color: blue;" class="fa fa-user"></i><a style="color: blue;" class="user-icon-link" href="{{ config.URL }}/u/{{ pauther }}">[m]{{ pauther }}</a>
            {% else %}
    		<i class="fa fa-user"></i><a class="user-icon-link" href="{{ config.URL }}/u/{{ pauther }}">{{ pauther }}</a>
            {% endif %}
            </small>
            <small><a class="top-of-post top-post-sublink" href="{{ config.URL }}/r/{{ post.sub }}">/r/{{ post.sub }}</a></small>
            <small class="created-ago">{{ post.created_ago }}</small>
    	</div>
    </div>
    <div class="sub-post-title">
    {% if post.post_type == 'url' %}
    <a class="sub-post-title-link" href="{{ post.url }}">{{ post.title }}</a> 
        <small><a href="{{ post.url }}" class="sub-post-title-url">({{ post.remote_url_parsed }})</a></small>
    {% else %}
    <a class="sub-post-title-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/">{{ post.title }}</a> 
        <small><a href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/" class="sub-post-title-url">(self.text)</a></small>
    {% endif %}
    </div>
    <div class="row post-row">
<div class="inner-div comment-post-voting" vote-obj-id="{{ post.id }}" vote-obj-type="post" vote-userid="session['user_id']" has_voted="{{ post.has_voted }}">
    {% if post.has_voted == 1 %}
    <a href="javascript:void(0)"><i style="color: orange;"class="fa fa-arrow-up"></i></a>
    {% else %}
    <a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
    {% endif %}
    <vote class="score">{{ post.ups - post.downs }}</vote>
    {% if post.has_voted == -1 %}
    <a href="javascript:void(0)"><i style="color: lightblue;" class="fa fa-arrow-down"></i></a>
    {% else %}
    <a href="javascript:void(0)"><i class="fa fa-arrow-down"></i></a>
    {% endif %}
</div>
    		<a class="comment-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/">{{ post.comment_count }} comments</a>
    	</div>
            {% if session['username'] in post.mods %}
            <div class='mod-option-wrapper'><small>
                    <form action='{{ config.URL }}/mod/sticky/' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-sticky-button'>sticky</button>
                    </form>|
                    <form action='{{ config.URL }}/mod/sticky/' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-sticky-button'>lock</button>
                    </form>|
                    <form action='{{ config.URL }}/mod/delete/post/' method='POST' class='post-mod-option-form post-mod-delete-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-delete-button'>delete</button>
                    </form>|
                    <form action='{{ config.URL }}/mod/ban/' method='POST' class='post-mod-option-form post-mod-delete-form'>
                        <button type='submit' name='post_id' value='{{ pauther }}' class='mod-option-button post-delete-button'>ban</button>
                    </form>
            </small></div>
            {% endif %}
    </div>
  </li>
</ul>