{% extends 'base.html' %}
{% block content %}

<nav class="nav mod-page-controls">
  <a class="nav-link">Mod Controls: </a>
  <a class="nav-link" href="/r/{{ request.sub }}/mods/">Mod Log</a>
  <a class="nav-link" href="/r/{{ request.sub }}/mods/banned/">Banned Users</a>
 {% if request.is_mod %}
  <a class="nav-link" href="/r/{{ request.sub }}/mods/add/">Manage Mods</a>
  <a class="nav-link" href="/r/{{ request.sub }}/settings/">Settings</a>
{% endif %}
</div>


<nav class="nav mod-page-controls">
<p class="nav-link">Mods</p>
{% for mod in mods %}
<a style="color: blue;" class="user-icon-link nav-link" href="{{ config.URL }}/u/{{ mod }}"><i class="fa fa-user"></i>[m]{{ mod }}</a>
{% endfor %}
</nav>


{% if settings %}
<div id="subsettings" style="margin-left: 1rem;">
<h3> sub settings </h3>
<form action='/mod/settings' method='POST'>
<input type='hidden' name='sub' value='{{ request.sub }}'>
<ul class="list-group" style="max-width: 20rem;">
  <li class="list-group-item"><input type='checkbox' name='marknsfw' value='nsfw' {% if nsfw %}checked{% endif %}> Mark All Posts NSFW?</li>
  <br>
  <button type='submit' name='sub' style="max-width: 6rem;" value='{{ request.sub }}' class="btn btn-outline-primary" type="button">Update</button>
</ul>
</form>
</div>
{% endif %}


{% if desc %}
<h6 style="margin-left: 1rem;">{% if request.subtitle != None %}Title: {{ request.subtitle }}{% else %}no title{% endif %}</h6>
<form action='/mod/title' method='POST' style="margin-left: 1rem;">
<div class="input-group mb-3">
  <input type='hidden' name='sub' value='{{ request.sub }}'>
  {% if request.subtitle != None %}
  <input type="text" style="max-width: 20rem;" name='title' class="form-control" aria-describedby="basic-addon1" value="{{ request.subtitle }}">
  {% else %}
  <input type="text" style="max-width: 20rem;" name='title' class="form-control" placeholder="Example: A place for friends." aria-label="Username" aria-describedby="basic-addon1">
  {% endif %}
<button type='submit' class="btn btn-outline-secondary" type="button">Edit Title</button>
</div>
</form>
<div id='display-rules'>

<h3 style="">Description</h3>
<selftext>
{% if rules %}
{{ rules|safe }}
{% else %}
No Description
{% endif %}
</selftext>
</div>
{% if request.is_mod %}
<div id='rules'>
<form style="margin-left: 1rem;" action='/mod/edit/description' method='POST'>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><h3>Edit Description</h3></label>
    <textarea name='rtext' class="form-control" id="exampleFormControlTextarea1" rows="3">{% if rules %}{{ rules|safe }}{% endif %}</textarea>
  </div>
  <button type='submit' name='sub' value='{{ request.sub }}' class="btn btn-outline-primary" type="button">Save Info</button>
</form>
</div>
<br>
<br>
{% endif %}
{% endif %}


{% if addmod %}
<form action='/mod/add' method='POST'>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">/u/</span>
  </div>
  <input type='hidden' name='sub' value='{{ request.sub }}'>
  <input type="text" name='username' class="form-control" style="max-width: 20rem;" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
<button type='submit' class="btn btn-outline-secondary" type="button">Add User To Mods</button>
</div>
</form>

<form action='/mod/remove' method='POST'>
<div class="input-group mb-3">
	<button type='submit' class="btn btn-danger" type="button">Remove Mod</button>
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">/u/</span>
  </div>
  <input type='hidden' name='sub' value='{{ request.sub }}'>
  <input style="max-width: 20rem;" type="text" name='username' class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
</form>
{% endif %}




{% if banned %}
<ul class="list-group list-group-horizontal-sm">
{% for ban in banned %}
<li class="list-group-item">User: {{ ban.username }} 
	{% if request.is_mod %}
	<form action='/mod/unban' method='POST'>
		<input type='hidden' value='{{ ban.username }}' name='username'>
		<input type='hidden' value='{{ request.sub }}' name='sub'>
		<button type="submit" class="btn btn-dark btn-sm">Unban</button>
	</form>
	{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}


{% if modactions %}
<div style="margin-left: 1rem;">
{% if allactions %}
{% else %}
<a href="/r/test/actions/">view full log</a>
{% endif %}
<table class="table table-sm mod-actions-table">
  <thead>
    <tr>
      <th scope="col">Mod</th>
      <th scope="col">Action</th>
      <th scope="col">Permalink</th>
    </tr>
  </thead>
  <tbody>
{% for ma in modactions %}
    <tr>
      <td><a href="/u/{{ ma.username }}">{{ ma.username }}</a></td>
      <td>{{ ma.action }}</td>
      <td><a href="{{ ma.url }}">{{ ma.url}}</a></td>
    </tr>
 {% endfor %}
  </tbody>
</table>
{% endif %}
</div>
{% endblock %}
