{% extends 'base.html' %}
{% block content %}

<div class="mod-settings-page">

<nav class="nav mod-page-controls">
  <a class="nav-link">Mod Controls: </a>
  <a class="nav-link" href="/i/{{ request.sub }}/mods/"><button class='mod-page-button btn btn-sm btn-secondary rounded'>Mod Log</button></a>
  <a class="nav-link" href="/i/{{ request.sub }}/mods/banned/"><button class='mod-page-button btn btn-sm btn-secondary rounded'>Banned Users</button></a>
 {% if request.is_mod %}
  <a class="nav-link" href="/i/{{ request.sub }}/mods/add/"><button class='mod-page-button btn btn-sm btn-secondary rounded'>Manage Mods</button></a>
  <a class="nav-link" href="/i/{{ request.sub }}/settings/"><button class='mod-page-button btn btn-sm btn-secondary rounded'>Settings</button></a>
{% endif %}
</nav>


<nav class="nav mod-page-controls">
<p class="nav-link">Mods</p>
{% for mod in mods %}
<a style="color: lightblue!important;" class="user-icon-link nav-link" href="{{ config.URL }}/u/{{ mod }}"><i class="fa fa-user" style='color: lightblue!important;'></i>[m]{{ mod }}</a>
{% endfor %}
</nav>


{% if settings %}
<div id="subsettings" style="margin-left: 1rem;">
<h3> sub settings </h3>
<form action='/mod/settings' method='POST'>
<input type='hidden' name='sub' value='{{ request.sub }}'>
<ul class="list-group" style="max-width: 20rem;">
  <li class="list-group-item rounded" style='border: 1px solid #bbb;'>
      <input type='checkbox' id="modMarkSubNSFW" name='marknsfw' value='nsfw' {% if nsfw==True %}checked{% endif %}> Mark All Posts NSFW?
  </li>
  <br>
</ul>


<div class="form-group">
  <label for="exampleFormControlTextarea1">Subreddit CSS</label>
  <textarea name='newcss' class="form-control" id="exampleFormControlTextarea1" rows="3" style='width: 400px; resize: both;'>{% if sub_object.css %}{{ sub_object.css }}{% endif %}</textarea>
  </div>

  <button type='submit' name='sub' style="max-width: 6rem;" value='{{ request.sub }}' class="btn btn-primary" type="button">Update</button>


</form>
</div>

{% endif %}


{% if desc %}
<h6 style="margin-left: 1rem;">{% if request.subtitle != None %}Title: {{ request.subtitle }}{% else %}no title{% endif %}</h6>
<form action='/mod/title' method='POST' style="margin-left: 1rem;">
<div class="input-group mb-3">
  <input type='hidden' name='sub' value='{{ request.sub }}'>
  {% if request.subtitle != None %}
  <input type="text" style="max-width: 20rem;" name='title' class="form-control rounded" aria-describedby="basic-addon1" value="{{ request.subtitle }}">
  {% else %}
  <input type="text" style="max-width: 20rem;" name='title' class="form-control rounded" placeholder="Example: A place for friends." aria-label="Username" aria-describedby="basic-addon1">
  {% endif %}
<button type='submit' class="btn btn-primary rounded" style='margin-left: 0.25rem;' type="button">Update Title</button>
</div>
</form>
<div id='display-rules'>

<h3 style="">Description</h3>
<selftext>
{% if rules %}
<div class="safe-markup-text">
{{ rules|safe }}
</div>
{% else %}
No Description
{% endif %}
</selftext>
</div>
{% if request.is_mod %}
<div id='rules' style='margin-top: 1rem;'>
<form style="margin-left: 1rem;" action='/mod/edit/description' method='POST'>
  <div class="form-group">
    <textarea name='rtext' class="form-control safe-markup-text" id="exampleFormControlTextarea1" rows="3" style='width: 450px; resize: both;'>{% if rules %}{{ rules|safe }}{% endif %}</textarea>
  </div>
  <button type='submit' name='sub' value='{{ request.sub }}' class="btn btn-primary " type="button">Update description</button>
</form>
</div>
<br>
<br>
{% endif %}
{% endif %}


{% if addmod %}
<div class='add-mod'>
<form action='/mod/add' method='POST'>
<div class="input-group mb-3">
  <button type='submit' class="btn btn-primary mod-add-button" type="button" >Add User To Mods</button>
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">/u/</span>
  </div>
  <input type='hidden' name='sub' value='{{ request.sub }}'>
  <input type="text" name='username' class="form-control" style="max-width: 20rem;" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
</form>

<form action='/mod/remove' method='POST'>
<div class="input-group mb-3">
	<button type='submit' class="btn btn-danger mod-add-button" type="button">Remove Mod</button>
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">/u/</span>
  </div>
  <input type='hidden' name='sub' value='{{ request.sub }}'>
  <input style="max-width: 20rem;" type="text" name='username' class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
</form>
</div>
{% endif %}




{% if banned != [] and banned != None %}
<ul class="list-group list-group-horizontal-sm">
{% for ban in banned %}
{% if ban.anonymous %}
<li class="list-group-item banned-user">User: Anonymous #{{ ban.id }}
{% else %}
<li class="list-group-item banned-user">User: {{ ban.username }} 
{% endif %}
	{% if request.is_mod %}
	<form action='/mod/unban' method='POST'>
    <input type='hidden' value='{{ ban.id }}' name='ban_id'>
    <input type='hidden' value='{{ ban.anonymous }}'>
    {% if ban.anonymous %}
    <input type='hidden' value='Anonymous' name='username'>
    {% else %}
		<input type='hidden' value='{{ ban.username }}' name='username'>
    {% endif %}
		<input type='hidden' value='{{ request.sub }}' name='sub'>
		<button type="submit" class="btn btn-dark btn-sm">Unban</button>
	</form>
	{% endif %}
</li>
{% endfor %}
</ul>
{% elif banned == [] %}
<h6 style='margin-left: 1rem;'> no banned users </h6>
{% endif %}


{% if modactions %}
<div style="margin-left: 1rem; margin-right: 1rem;">
{% if allactions %}
{% else %}
<a href="/i/{{ request.sub }}/actions/">view full log</a>
{% endif %}
<table class="table table-sm mod-actions-table">
  <thead class='mod-log-table'>
    <tr class='mod-log-table'>
      <th scope="col" class='mod-log-table'>Mod</th>
      <th scope="col" class='mod-log-table'>Action</th>
      <th scope="col" class='mod-log-table'>Permalink</th>
    </tr>
  </thead>
  <tbody class='mod-log-table'>
{% for ma in modactions %}
    <tr class='mod-log-table'>
      <td class='mod-log-table'><a href="/u/{{ ma.username }}">{{ ma.username }}</a></td>
      <td class='mod-log-table'>{{ ma.action }}</td>
      <td class='mod-log-table'><a href="{{ ma.url }}">{{ ma.url}}</a></td>
    </tr>
 {% endfor %}
  </tbody>
</table>
{% endif %}

</div>

{% endblock %}
