{% extends 'base.html' %}
{% block content %}
{% if vuser.admin %}
<h6 style="color: red;"> admin </h6>
{% endif %}
<h6> user profile for {{ vuser.username }}</h6>


<div class="btn-group" role="group">
{% if session['username'] != vuser.username %}
<a href="/message/{{ vuser.username }}"><button type="button" class="btn btn-sm btn-outline-secondary user-opt">send message</button></a>
{% else %}

<a href="/u/{{ session['username'] }}/messages/"><button type="button" class="btn btn-sm btn-outline-secondary user-opt">view messages</button></a>

<form action='/user/darkmode' method='POST'>
{% if vuser.darkmode == False and session['darkmod'] != True %}
    <input type='hidden' name='action' value='enable'>
    <button type="submit" class="btn btn-sm btn-outline-secondary user-opt">enable darkmode</button></a>
{% else %}
    <input type='hidden' name='action' value='disable'>
    <button type="submit" class="btn btn-sm btn-outline-secondary user-opt">disable darkmode</button></a>
{% endif %}
</form>

<form action='/user/anonymous' method='POST'>
{% if vuser.darkmode == False %}
    <input type='hidden' name='action' value='enable'>
    <button type="submit" class="btn btn-sm btn-outline-secondary user-opt">enable default anonymous</button></a>
{% else %}
    <input type='hidden' name='action' value='disable'>
    <button type="submit" class="btn btn-sm btn-outline-secondary user-opt">disable default anonymous</button></a>
{% endif %}
</form>

{% endif %}

</div>



<br><br>
{% if vuser.mods|length > 0 %}
<ul class="list-group">
<li class="list-group-item">moderator of</li>
<li class="list-group-item"> 
{% for sub, rank in vuser.mods.items() %}
  <a href="{{ config.URL }}/r/{{ sub }}/">/r/{{ sub }}</a>
{% endfor %}
 </li>
</ul>
{% endif %}
<div id='user-recent'>
<h6> recent posts </h6>

{% set count = [0] %}

{% for post in posts %}
{% if count.append(count.pop() + 1) %}{% endif %}
{% if post.anonymous == False and post.author != 'Anonymous' %}
    {% include 'sub_post.html' %}
{% endif %}
{% else %}
	<p> no posts </p>
{% endfor %}

{% if count.pop() > 0 %}
<!-- <p> user has additional anonymous posts </p> -->
{% endif %}


<h6> recent comments </h6>
<ul class="list-unstyled">
{% include 'combase.html' %}
</ul>
</div>
{% endblock %}
