{% extends 'base.html' %}
{% block content %}
{% if vuser.admin %}
<h6 style="color: red;"> admin </h6>
{% endif %}
<h6> user profile for {{ vuser.username }} </h6>
{% if vuser.mods|length > 1 %}
<h6> moderator of: {{ vuser.mods|string }} </h6>
{% endif %}
<h6> recent posts </h6>

{% set count = [0] %}

{% for post in posts %}
{% if count.append(count.pop() + 1) %}{% endif %}
{% if post.anonymous == False %}
    {% include 'sub_post.html' %}
{% endif %}
{% else %}
	<p> no posts </p>
{% endfor %}

{% if count.pop() > 0 %}
<p> user has additional anonymous posts </p>
{% endif %}


<h6> recent comments </h6>
<ul class="list-unstyled">

{% set count = [0] %}
{% for comment, post in comments_with_posts %}
{% if count.append(count.pop() + 1) %}{% endif %}

{% if comment.anonymous %}
{% set cauthor = 'Anonymous' %}
{% set cauthor_type = 'user' %}
{% else %}
{% set cauthor = comment.author %}
{% set cauthor_type = comment.author_type %}
{% endif %}

{% if comment.anonymous == False %}
<li class="media sub-comment media-body">
	<div class='media-body comment-media-body'>
		<div class="row post-row">
			<div class="col inner-div">
            <small>
            {% if cauthor_type == 'admin' %}
            <i style="color: red;" class="fa fa-user"></i><a style="color: red;" class="user-icon-link" href="{{ config.URL }}/u/{{ comment['author'] }}">[a]{{ cauthor }}</a>
            {% elif cauthor_type == 'mod' %}
            <i style="color: blue;" class="fa fa-user"></i><a style="color: blue;" class="user-icon-link" href="{{ config.URL }}/u/{{ comment['author'] }}">[m]{{ post.author }}</a>
            {% else %}
    		<i class="fa fa-user"></i><a class="user-icon-link" href="{{ config.URL }}/u/{{ comment['author'] }}">{{ cauthor }}</a>
            {% endif %}
            </small>
    	    	<a href="{{ config.URL }}/r/{{ post.sub }}/" style="margin-left: 0.5rem;">
    	    		<small class="comment-link">/r/{{ post.sub }}</small>
    	    	</a>
    	    	<a href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.id }}/">
    	    		<small class="created-ago comment-link">{{ comment.created_ago }}</small>
    	    	</a>
				{% if comment.parent_id != None %}
    	    	<a class="comment-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/{{ comment.parent_id }}/">
    	    	{% else %}
    	    	<a class="comment-link" href="{{ config.URL }}/r/{{ post.sub }}/{{ post.id }}/{{ post.inurl_title }}/">
    	   		{% endif %}
    	    		<small class="created-ago">parent</small>
    	    	</a>
			</div>
		</div>
		<div clss="comment-text">
			<p class="comment-text-text">{{ comment.text|safe }}</p>
		</div>
		<div class="row post-row comment-bottom">
			<div class="inner-div comment-voting" vote-obj-id="{{ comment.id }}" vote-obj-type="comment" vote-userid="session['user_id']" has_voted="{{ comment.has_voted }}">
				{% if comment.has_voted == 1 %}
				<a href="javascript:void(0)"><i style="color: orange;"class="fa fa-arrow-up"></i></a>
				{% else %}
				<a href="javascript:void(0)"><i class="fa fa-arrow-up"></i></a>
				{% endif %}
				<vote class="score">{{ comment.ups - comment.downs }}</vote>
				{% if comment.has_voted == -1 %}
				<a href="javascript:void(0)"><i style="color: lightblue;" class="fa fa-arrow-down"></i></a>
				{% else %}
				<a href="javascript:void(0)"><i class="fa fa-arrow-down"></i></a>
				{% endif %}
			</div>
		</div>
            {% if session['username'] in comment.mods %}
            <div class='mod-option-wrapper'><small>
                    <form action='{{ config.URL }}/mod/sticky/' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-sticky-button'>sticky</button>
                    </form>|
                    <form action='{{ config.URL }}/mod/sticky/' method='POST' class='post-mod-option-form post-mod-sticky-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-sticky-button'>lock</button>
                    </form>|
                    <form action='{{ config.URL }}/mod/delete/' method='POST' class='post-mod-option-form post-mod-delete-form'>
                        <button type='submit' name='post_id' value='{{ post.id }}' class='mod-option-button post-delete-button'>delete</button>
                    </form>|
                    <form action='{{ config.URL }}/mod/ban/' method='POST' class='post-mod-option-form post-mod-delete-form'>
                        <button type='submit' name='post_id' value='{{ post.author }}' class='mod-option-button post-delete-button'>ban</button>
                    </form>
            </small></div>
            {% endif %}
	</div>
</li>
{% endif %}
{% else %}
<p> no comments </p>
{% endfor %}

{% if count.pop() > 0 %}
<p> user has additional anonymous comments </p>
{% endif %}
</ul>
{% endblock %}