{% extends 'base.html' %}
{% block content %}

<form action='/admin/ban_and_delete' method='POST'>
	<p>username</p>
	<input style='color: black;' type='text' name='username'><br>
	<button style='color: black; background-color: red;' type='submit'>ban and delete</button>
</form>

<br>

<form action='/admin/add_api_key' method='POST'>
	<p>username - api key add</p>
	<input style='color: black;' type='text' name='username'><br>
	<button style='color: black;' type='submit'>add api key</button>
</form>

<br>

<style>th, td { padding-right: 1rem; }</style>
<table class='margin-lr'>
  <tr>
  	<th>action</th>
    <th>user</th>
    <th>key</th>
  </tr>
  	{% for key in keys %}
  	  <tr>
    <td><a href='javascript:removeApiKey("{{ key.username }}");'><i class='fa fa-ban'></i></a></td>
    <td>{{ key.username }}</td>
    <td>{{ key.key }}</td>
      </tr>
    {% endfor %}
</table>

<br>

<form action='/admin/add_sub_mute' method='POST'>
  <p>mute sub</p>
  <input style='color: black;' type='text' name='sub'><br>
  <button style='color: black;' type='submit'>mute sub</button>
</form>

<br>

<style>th, td { padding-right: 1rem; }</style>
<table class='margin-lr'>
  <tr>
    <th>action</th>
    <th>sub</th>
  </tr>
    {% for sub in muted_subs %}
      <tr>
    <td><a href='javascript:removeSubMute("{{ sub.name }}");'><i class='fa fa-ban'></i></a></td>
    <td>{{ sub.name }}</td>
      </tr>
    {% endfor %}
</table>



{% endblock %}