{% extends "base.html" %}

{% block content %}

{% for commit in commits %}

{% set date = commit.commit.author.date %}

<ul class="list-group">
    <li class="list-group-item clearfix">
        <div class="float-left">
            <a href="{{ commit.commit.url }}" class="float-left stretched-link">{{ commit.commit.message }}</a>
            <span class="text-muted">&nbsp;&middot;&nbsp;{{ time_ago(strptime(date, "%Y-%m-%dT%H:%M:%SZ")) }}</span>
        </div>
        <img class="float-right bg-dark rounded border border-dark" src="{{ commit.author.avatar_url }}"
            alt="{{ commit.author.login }}" style="width: 24px; height: 24px;">
    </li>
</ul>

{% endfor %}

{% endblock content %}
