{% extends "base.html" %}

{% block content %}

<ul class="list-group">
    {% for commit in commits %}
    <a href="{{ commit.html_url }}" class="list-group-item">
        <span class="float-left">{{ commit.commit.message }} &middot; <span class="text-secondary">{{ time_ago(strptime(commit.commit.author.date, '%Y-%m-%dT%H:%M:%SZ')) }}</span></span> <span class="float-right"><img class=" rounded
            bg-dark" src="{{ commit.author.avatar_url }}" style="height: 16px; width: 16px;"></span>
    </a>
    {% endfor %}
    <p class="text-center my-3">more commits <a class="text-white" href="https://github.com/civicsoft/ieddit/commits">here</a></p>
</ul>

{% endblock content %}
