<form id="{{ reptype }}-reply-box" class="rounded" style="{% if h == True %}display: none;{% endif %}	margin-left: 0.25rem; margin-top: 0.25rem;" action="/create_comment" method="POST">
	<div class="comment-reply-box-wrapper">
		{% if 'username' not in session %}
		<textarea class="disabled comment-reply-box-expand rounded" name="comment_text" disabled></textarea>
		{% else %}
		<textarea class="comment-reply-box-expand rounded" name="comment_text"></textarea>
		{% endif %}
	</div>
	<input type='hidden' name='post_id' value='{{ post_id }}'>
	<input type='hidden' name='post_url' value='{{ post_url }}'>
	<input type='hidden' name='sub_name' value='{{ post.sub }}'>
	{% if reptype == 'comment' %}
	<input type='hidden' name='parent_id' id='parent_id' {% if parent_comment.id %}value='{{ parent_comment.id }}'{% endif %}>
	{% endif %}

	{% if 'username' not in session %}
	<div onclick="jslogin()">
	<input class="disabled post-text-area-button btn btn-secondary btn-sm" style='display: inline-block; background-color: whitesmoke; margin-left: 0.75rem; ' type='button' value='login'><a href='/login' style='display: inline-block; margin-left: 0.5rem; color:#007bff;'>login to comment </a></div>

	{% else %}
	<input class="post-text-area-button btn btn-secondary btn-sm" style='background-color: whitesmoke; margin-left: 0.25rem; display: inline-block;' type='submit' value='new comment'>
	<small> anonymous? </small>

	{% if session['anonymous'] %}
		<input type='checkbox' name='anonymous' value='1' checked>
	{% else %}
		<input type='checkbox' name='anonymous' value='1'>
	{% endif %}


	{% if session['admin'] or is_modv %}
		<label for="normal-checkbox"> non-mod?</label>
		<input type='checkbox' name='override' id="normal-checkbox">
	{% endif %}

	{% endif %}
</form>
