{% extends 'base.html' %}
{% block content %}

{% if config.CAPTCHA_ENABLE and config.CAPTCHA_COMMENTS %}
{% set capt = captcha() %}
{% else %}
{% set capt = False %}
{% endif %}

{% if post.anonymous %}
{% set pauthor = 'Anonymous' %}
{% set pauthor_type = 'user' %}
{% else %}
{% set pauthor = post.author %}
{% set pauthor_type = post.author_type %}
{% endif %}


<title>{{ post.title }}</title>

<div id="comment-page-wrapper">
	{% set pre_expand = True %}
	{% include 'sub_post.html' %}
<!--
<div id="row">
	<unstyled> sort by: </unstyled>
	{% if not parent_comment.id %}
	<a class="comment-link" href="{{ post_url }}sort-top"><small>top</small></a>
	<unstyled><small>|</small></unstyled>
	<a class="comment-link" href="{{ post_url }}sort-new"><small>new</small></a>
	{% else %}
	<a class="comment-link" href="{{ post_url }}{{ parent_comment.id }}/sort-top"><small>top</small></a>
	<unstyled><small>|</small></unstyled>
	<a class="comment-link" href="{{ post_url }}{{ parent_comment.id }}/sort-new"><small>new</small></a>
	{% endif %}
</div>-->

{% if post.locked %}
<h2>post is locked</h2>
{% endif %}

{% if is_parent == False %}

{% with %}
{% set reptype = 'post' %}
{% set h = False %}

{% include 'comment-reply.html' %}

{% endwith %}


{% with %}
{% set reptype = 'comment' %}
{% set h = True %}
{% include 'comment-reply.html' %}
{% endwith %}

{% endif %}

<div id='comment-spacer' style='width: 100%; height: 1px; margin-bottom: 1rem;'></div>


{% if parent_comment %}
<h5 id='single-comment'> you are viewing a single comment - <a style='text-decoration: underline;' href="{{ post.permalink }}">view all comments</a></h5>
{% endif %}

<ul class="list-unstyled comment-reply-list">
	{%- for comment, value in tree.items() recursive %}  
{% if comment.anonymous %}
{% set cauthor = 'Anonymous' %}
{% set cauthor_type = 'user' %}
{% else %}
{% set cauthor = comment.author %}
{% set cauthor_type = comment.author_type %}
{% endif %}
	{% if loop.depth0 < 5 %}
	{% include 'collapsed.html' %}

	{% with %}
	{% set cominline = True %}
	{% include 'comment.html' %}
	{% endwith %}

	{%- if value %}
	{{ loop(value.items()) }}
	{% endif %}

	{% endif %}
	{% else %}
	<p>no comments</p>
	{%- endfor %}
</ul>
</div>
{% endblock %} 
