{% extends 'base.html' %}

{% block content %}

<form class="needs-validation new-post-form" novalidate method='post'>
    <h5>URL</h5>
    <div class="form-group border-top form-input-text">

        <label for="create-post-url">{{ get_word('Remote URL', cap_all=True) }}</label>
        {% if sppf['url'] %}
            <input name='url' type="text" class="form-control" id="create-post-url" value="{{ sppf['url'] }}">
        {% else %}
            <input name='url' type="text" class="form-control" id="create-post-url" placeholder="Example: https://ieddit.com">
        {% endif %}
    </div>
    <div>
        <h5>Self-Text<small> (if no url)</small></h5>
        <div class="form-group border-top form-input-text">
            <label for="create-post-text" >Self-Post Text</label>
            {% if sppf['self_post_text'] %}
                <textarea name='self_post_text' class="form-control form-input-text" id="create-post-text">{{ sppf['self_post_text'] }}</textarea>
            {% else %}
                <textarea name='self_post_text' class="form-control form-input-text" id="create-post-text" placeholder="Example: How are you doing today?"></textarea>
            {% endif %}
        </div>

        <div class="form-group form-input-text border-top">
            <div class="form-group form-input-text">
                <label for="create-post-title">{{ get_word('Title', cap=[0]) }}</label>
                {% if sppf['title'] %}
                    <input name='title' type="text" class="form-control" id="create-post-title" value="{{ sppf['title'] }}">
                {% else %}
                    <input name='title' type="text" class="form-control" id="create-post-title" placeholder="Example: Look at this site I found." maxlength="200">
                {% endif %}
                <a id='suggest-title' href="javascript:suggestTitle();"></a>
            </div>
            <label for="create-post-sub">{{ get_word('Sub', cap=[0]) }}</label>
            <div class="input-group mb-3">
                {% if sppf['sub'] %}
                    <input name='sub' type="text" class="form-control" id="create-post-sub" placeholder="Example: baseball" value="{{ sppf['sub'] }}">
                {% elif request.sub %}
                    <input name='sub' type="text" class="form-control" id="create-post-sub" placeholder="Example: baseball" value='{{ request.sub }}'>
                {% else %}
                    <input name='sub' type="text" class="form-control" id="create-post-sub" placeholder="Example: baseball" value='{{ session.last_sub }}'>
                {% endif %}
                <div class="input-group-prepend">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ get_word('select') }}</button>
                    <div class="dropdown-menu" id='sub-drop-menu'>
                        <div id='menu-items'></div>
                        <input type='text' id='sub-dropdown-search' placeholder='search' onload='search()'>
                    </div>
                </div>
            </div>
        <button type="submit" class="btn btn-primary btn-dark">{{ get_word('Create Post', cap_all=True) }}</button>
        <label for="anon-checkbox">{{ get_word('anonymous') }}?</label>
        {% if session['anonymous'] %}
            <input type='checkbox' name='anonymous' value='1' id="anon-checkbox" checked>
        {% else %}
            <input type='checkbox' name='anonymous' value='1' id="anon-checkbox">
        {% endif %}


        {% if session['username'] in get_sub_mods(session['last_sub']) %}
            <label for="normal-checkbox"> non-mod?</label>
            {% if session['always_override'] == True %}
                <input type='checkbox' name='override' id="normal-checkbox" checked>
            {% else %}
                <input type='checkbox' name='override' id="normal-checkbox">
            {% endif %}
        {% else %}
            {% if session['admin'] or request.is_mod %}
                <label for="normal-checkbox"> non-mod?</label>
                {% if session['always_override'] == True %}
                    <input type='checkbox' name='override' id="normal-checkbox" checked>
                {% else %}
                    <input type='checkbox' name='override' id="normal-checkbox">
                {% endif %}
            {% endif %}
        {% endif %}

    <br><br><br>
</form>

{% endblock %}
