{% extends 'base.html' %}
{% block content %}
<div id='signup-form-container' class='mx-auto'>
    {% if session['username'] %}
        <p> {{ get_word('you are already logged in as') }}: {{ session['username'] }} </p>
    {% endif %}
    <div id='login-container'>
        <h2>{{ get_word('Login', cap=[0]) }}</h2>
        <form class="needs-validation" novalidate method='post'>
            <div class="form-group">
                <label for="validationCustom04">{{ get_word('Username', cap=[0]) }}</label>
                <input name='username' type="text" class="form-control" id="validationCustom04" placeholder="Enter username">
            </div>
        <div class="form-group">
            <label for="validationCustom05">{{ get_word('Password', cap=[0]) }}</label>
            <input name='password' type="password" class="form-control" id="validationCustom05" placeholder="Password">
        </div>
        <small><a href='/user/reset_password/'>{{ get_word('forgot password') }}?</a></small>
        <br>
        <button type="submit" class="btn btn-primary btn-dark">{{ get_word('Login', cap=[0]) }}</button>
        </form>
    </div>
    <div id='register-container'>
        <h2>{{ get_word('Create New User', cap_all=True) }}</h2>
        <form class="needs-validation" novalidate method='post' action='/register'>
            <div class="form-group">
                <label for="validationCustom01">{{ get_word('New Username', cap_all=True) }}</label>
                <input name='username' type="text" class="form-control" id="validationCustom01" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="validationCustom02">{{ get_word('Email address', cap=[0]) }} ({{ get_word('optional') }})</label>
                <input name='email' type="email" class="form-control" id="validationCustom02" aria-describedby="email-reg-info" placeholder="Enter email">
                <small id="email-reg-info" class="form-text text-muted">{{ get_word('Lost passwords cannot be recovered without an email') }}.<br></small>
            </div>
            <div class="form-group">
                <label for="validationCustom03">{{ get_word('Password', cap=[0]) }}</label>
                <input name='password' type="password" class="form-control" id="validationCustom03" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-dark">{{ get_word('Create') }}</button>
        </form>
    </div>
</div>
{% endblock %}
