{% extends 'base.html' %}
{% block content %}

{% if self_pgp %}
{% include 'keys.html' %}
{% include 'crypto.html' %}

{% endif %}

{% if message %}
<div class="media">
  <div class="media-body message-body rounded">
    <div class="message-text-body">
    <div class="row message-top-row">
      {% if message.sender %}
        <a class="user-icon-link" href="{{ config.URL }}/u/{{ message.sender }}"><i class="fa fa-user"></i> {{ message.sender }}</a>
      {% else %}
      
      {% endif %}
        {% if message.in_reply_to != None %}
        <div class="in-reply-to">
        <small><a class="user-icon-link" href="{{ message.in_reply_to }}">{{ message.ppath }}</a></small>
        </div>
        {% endif %}
    </div>
    <h5 class="mt-0 message-title">{{ message.title }}</h5>
        <div class="safe-markup-text">{{ message.new_text|safe }}</div>
    </div>
  </div>
</div>
{% endif %}

{% if message.sender %}
<form id='comment-reply-box' action='/message/{{ message.sender }}' method='POST'>
  <input type='hidden' name='message_title' value='RE: {{ message.title }}'>
  <input type='hidden' name='sent_to' value='{{ message.sender }}'>
  <div class="comment-reply-box-wrapper">
    <textarea id='message-textarea' class="rounded comment-reply-box-expand" name="message_text"></textarea>
  </div>
{% else %}
<form id='comment-reply-box' action='/message/{{ sendto }}' method='POST'>
  <label>message title</label><br>
  <input type='text' class='rounded' name='message_title'><br><br>
  {% if self_pgp == False and sendto %}
  <label> send to </label><br>
  <input type='text' class='rounded' name='sent_to' value='{% if sendto != None %}{{ sendto }}{% endif %}' readonly><br><br>
  {% elif self_pgp != False and other_pgp != False %}
  <label> send to</label> <i class='fa fa-lock' style='color: green; margin-left: 1rem;'> (PGP SUPPORT ENABLED)</i><br>
  <input type='text' class='rounded' name='sent_to' value='{{ other_pgp.username }}' readonly><br><br>
  {% else %}
  <label> send to </label><br>
  <input type='text' class='rounded' name='sent_to' value='{% if sendto != None %}{{ sendto }}{% endif %}'><br><br>
  {% endif %}
  <label id='messagebox-label'> message text </label><br>
  <div class="comment-reply-box-wrapper">
    <textarea id='message-textarea' class="comment-reply-box-expand rounded" name="message_text"></textarea>
  </div>
{% endif %}
  <input class="btn btn-primary rounded" style='color: white!important;' type='submit' value='send message'>
  {% if self_pgp %}
  {% if other_pgp.username %}
  <button type="button" class="btn btn-sm btn-success" id="encryptMessageButton"><i class='fa fa-lock'></i> encrypt</button>
  {% endif %}
  {% endif %}
  <input name='msgencrypted' id='msgencrypted' value='' type='hidden'>
  {% if other_pgp %}
  <input name='key_id' id='key_id' value='{{ other_pgp.id }}' type='hidden'>
  {% else %}
  <input name='key_id' id='key_id' value='' type='hidden'>
  {% endif %}
</form>

{% endblock %}  