{% extends 'base.html' %}
{% block content %}

<h2 style='display: inline-block;' class='margin-lr'><i class='fa fa-envelope'></i> messages</h2>

{% if has_encrypted %}
    {% if session['pgp_enabled'] %}
    <textarea id='self-pgp-username' style='display: none;'>{% if self_pgp.username %}{{ self_pgp.username }}{% else %}{% endif %}</textarea>
    <textarea id='self-pgp-privkey' style='display: none;'>{% if self_pgp.privkey %}{{ self_pgp.privkey }}{% else %}{% endif %}</textarea>
    <textarea id='self-pgp-pubkey' style='display: none;'>{% if self_pgp.pubkey %}{{ self_pgp.pubkey }}{% else %}{% endif %}</textarea>
    
    {% include 'crypto.html' %}
    
    <div style='display: inline-block;' class='margin-lr'>
        <button class='btn btn-success' id='decrypt-button' style='margin-top: -1rem;'><i class='fa fa-lock'></i> Decrypt Messages </button>
    </div>
    
    {% endif %}
{% endif %}


<div class='message-inbox'>
    {% if new_messages %}
        {% set vars = {'continue': True } %}
        <h2 class='margin-lr'>new</h2>
        <div style='border: 1px dashed rgba(255, 217, 102, 0.5);'>
    {% else %}
        {% set vars = {'continue': False } %}
        <h2 class='margin-lr'>read</h2>
    {% endif %}
    
    {% for message in messages %}
        <!-- Finished listing unread messages, read from here on -->
        {% if vars['continue'] and new_messages %}
            {% if message.was_unread != True %}
                {% if vars.update({'continue': False }) %}{% endif %}
                </div><h2 class='margin-lr'>read</h2>
            {% endif %}
        {% endif %}
    
        {% if message.encrypted == True and message.encrypted_key_id == self_pgp.id|string %}
            {% include 'message.html' %}
        {% elif message.encrypted == True and message.encrypted_key_id|string != self_pgp.id|string 
            and message.encrypted_key_id|string != 'None' %}
            <div>
                <p style='color: red;'>you have a encrypted messages but (probably) cannot read it.
                 Sent to: {{ message.encrypted_key_id }} - You are: {{ self_pgp.id }}</p>
            </div>
        {% else %}
            {% include 'message.html' %}
        {% endif %}
    
    {% else %}
        <p> no messages </p>
    {% endfor %}
</div>

{% if sent != [] %}
<h2 class='margin-lr'> sent </h2>
{% for message in sent %}
{% include 'message.html' %}
{% else %}

{% endfor %}
{% endif %}
    
    
    
    
    {% endblock %}
