{% set count = [0] %}
{% for comment, post in comments_with_posts %}

{% if comment.anonymous != True %}

    {% if comment.anonymous %}
        {% set cauthor = 'Anonymous' %}
        {% set cauthor_type = 'user' %}
    {% else %}
        {% set cauthor = comment.author %}
        {% set cauthor_type = comment.author_type %}
    {% endif %}
    
    {% if comment.deleted == False %}
        {% if no_posts %}
            <div class="allcomment-comment">
        {% endif %}
    {% endif %}
    
    {% with %}
        {% set parent_comment = False %}
        {% set comment_list = True %}
        {% include 'comment.html' %}
    {% endwith %}    
{% endif %}

{% else %}
<p class='margin-lr'> no comments </p>
{% endfor %}