{% set comment_paths = ['/comments/', '/i/all/comments/'] %}
{% if request.sub %}
    {% set comment_paths = ['/comments/', '/i/' + request.sub + '/comments/', '/i/all/comments/'] %}
{% endif %}

{% if request.environ['PATH_INFO'] not in comment_paths %}
    {% set comments_link = 'comments/' %}
    {% set comments_text = 'Comments' %}
{% else %}
    {% set comments_link = '' %}
    {% set comments_text = 'Posts' %}
{% endif %}

<div class="btn-group" role="group" aria-label="Basic example">
    <!-- Comments are sorted by new by default, while posts are sorted by hot -->
    {% if comments_text == 'Comments' %}
        {% if 's=top' in request.environ['QUERY_STRING'] or 's=new' in request.environ['QUERY_STRING'] %}
            <a class="top-sort" href="{{ request.environ['PATH_INFO'] }}"><button type="button" class="btn btn-sm btn-secondary">{{ get_word('', cap=[0]) }}</button></a>
        {% endif %}
        {% if 's=new' not in request.environ['QUERY_STRING'] %}
            <a class="top-sort" href="{{ request.environ['PATH_INFO'] + '?s=new' }}"><button type="button" class="btn btn-sm btn-secondary">New</button></a>
        {% endif %}
    {% else %}
        {% if 's=hot' in request.environ['QUERY_STRING'] or 's=top' in request.environ['QUERY_STRING'] %}
            <a class="top-sort" href="{{ request.environ['PATH_INFO'] }}"><button type="button" class="btn btn-sm btn-secondary">New</button></a>
        {% endif %}
        {% if 's=hot' not in request.environ['QUERY_STRING'] %}
            <a class="top-sort" href="{{ request.environ['PATH_INFO'] + '?s=hot' }}"><button type="button" class="btn btn-sm btn-secondary">{{ get_word('', cap=[0]) }}</button></a>
        {% endif %}
    {% endif %}

    {% if 's=top' not in request.environ['QUERY_STRING'] %}
        <a class="top-sort" href="{{ request.environ['PATH_INFO'] + '?s=top' }}"><button type="button" class="btn btn-sm btn-secondary">Top</button></a>
    {% endif %}

    {% if 'd=hour' in request.environ['QUERY_STRING'] %}
        {% set active_sort = 'hour' %}
    {% elif 'd=day' in request.environ['QUERY_STRING'] %}
        {% set active_sort = 'day' %}
    {% elif 'd=week' in request.environ['QUERY_STRING'] %}
        {% set active_sort = 'week' %}
    {% elif 'd=month' in request.environ['QUERY_STRING'] %}
        {% set active_sort = 'month' %}
    {% elif 'd=year' in request.environ['QUERY_STRING'] %}
        {% set active_sort = 'year' %}
    {% else %}
        {% set active_sort = 'past' %}
    {% endif %}

    {% set no_offset_query_string = param_destroy(request.environ['QUERY_STRING'], 'offset', params_only=True) %}

    {% set sort_hour_url = request.environ['PATH_INFO'] + '?' + param_replace(no_offset_query_string, 'd', 'hour') %}
    {% set sort_day_url = request.environ['PATH_INFO'] + '?' + param_replace(no_offset_query_string, 'd', 'day') %}
    {% set sort_week_url = request.environ['PATH_INFO'] + '?' + param_replace(no_offset_query_string, 'd', 'week') %}
    {% set sort_month_url = request.environ['PATH_INFO'] + '?' + param_replace(no_offset_query_string, 'd', 'month') %}
    {% set sort_year_url = request.environ['PATH_INFO'] + '?' + param_replace(no_offset_query_string, 'd', 'year') %}

    {% set sort_all_url = request.environ['PATH_INFO'] + param_destroy(no_offset_query_string, 'd') %}


    <div class="dropdown top-sort" id='sort-date'>
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id='sort-date-btn' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ active_sort }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if 'd=hour' not in request.environ['QUERY_STRING'] %}
                <a class="dropdown-item" href="{{ sort_hour_url }}">past hour</a>
            {% endif %}
            {% if 'd=day' not in request.environ['QUERY_STRING'] %}
                <a class="dropdown-item" href="{{ sort_day_url }}">past day</a>
            {% endif %}
            {% if 'd=week' not in request.environ['QUERY_STRING'] %}
                <a class="dropdown-item" href="{{ sort_week_url }}">past week</a>
            {% endif %}
            {% if 'd=month' not in request.environ['QUERY_STRING'] %}
                <a class="dropdown-item" href="{{ sort_month_url }}">past month</a>
            {% endif %}
            <!-- When site is a year old enable 
            {% if 'd=year' not in request.environ['QUERY_STRING'] %}
                <a class="dropdown-item" href="{{ sort_year_url }}">past year</a>
            {% endif %}
            -->
            <a class="dropdown-item" href="{{ sort_all_url }}">{{ get_word('all time') }}</a>
        </div>
    </div>

</div>
<div class="btn-group">

    
    {% if request.sub %}
        <a class="top-sort" href="{{ config.URL }}/i/{{ request.sub }}/{{ comments_link }}">
            <button type="button" class="btn btn-sm btn-primary">{{ comments_text }}</button>
        </a>
    {% elif is_all == True %}
        <a class="top-sort" href="{{ config.URL }}/i/all/{{ comments_link }}">
            <button type="button" class="btn btn-sm btn-primary">{{ comments_text }}</button>
        </a>
    {% else %}
        <a class="top-sort" href="{{ config.URL }}/{{ comments_link }}">
            <button type="button" class="btn btn-sm btn-primary">{{ comments_text }}</button>
        </a>
    {% endif %}
</div>
