{% extends 'base.html' %}
{% block content %}

<div class='margin-lr' id='stats'>
    {% if subi != None %}
        <h3 class='stat'>{{ get_word('stats for') }} {{ config.SUB_PREFIX }}{{ subi }}</h3>
        <br><br>
    {% endif %}

    <h6 class='stat'>{{ get_word('total users') }}: {{ users }}</h6>
    <h6 class='stat'>{{ get_word('total posts') }}: {{ posts }}</h6>
    <h6 class='stat'>{{ get_word('total comments') }}: {{ comments }}</h6>
    <br><br>

    <h6 class='stat'>{{ get_word('users active') }}: {{ dayusers }} <br> (unique users who have <br> commented/voted/posted) <br> in the last 24hr</h6>
    <h6 class='stat'>{{ get_word('posts today') }}: {{ dayposts }}</h6>
    <h6 class='stat'>{{ get_word('comments today') }}: {{ daycoms }}</h6>
    <br><br>

    <h6 class='stat'>{{ get_word('total votes') }}: {{ votes }}</h6>
    {% if main_stats %}
        <h6 class='stat'>{{ get_word('total messages') }}: {{ messages }}</h6>
    {% endif %}

    {% if main_stats %}
        <h6 class='stat'>{{ get_word('total subs') }}: {{ subs }}</h6>
        <br><br>
    {% else %}
        <h6 class='stat'>{{ get_word('total subscribed') }}: {{ subscripts }}</h6>
        <br><br>
    {% endif %}

    <h6 class='stat'>{{ get_word('votes today') }}: {{ dayvotes }}</h6>
    <h6 class='stat'>{{ get_word('total bans') }}: {{ bans }}</h6>
    <h6 class='stat'>{{ get_word('total mod actions') }}: {{ mod_actions }}</h6>
    <br><br>

    {% if debug %}
        <br><br><br>
        {{ debug }}
    {% endif %}
</div>

{% endblock %}
