{% if posts_only %}

{% for post in posts %}
    {% include 'sub_post.html' %}
{% else %}
	<p> no posts </p>
{% endfor %}

{% else %}
{% extends 'base.html' %}
{% block content %}
<script src="{{ url_for('static', filename='expand-post.js') }}?1"></script>

{% include 'sort-top.html' %}

<div class="active_sub_users">
users active <span class="text-white">{{ sub_stats['active_users'] }}</span>
    <br>
posts today <span class="text-white">{{ sub_stats['posts_today'] }}</span>
</div>

{% for post in posts %}
    {% include 'sub_post.html' %}
    {% if loop.last %}
    {% endif %}
{% else %}
	<p> no posts </p>
{% endfor %}

{% endblock %}
{% endif %}
