{% if posts_only %}
    {% for post in posts %}
        {% include 'sub-post.html' %}
    {% else %}
        <p> {{ get_word('no posts') }} </p>
    {% endfor %}
{% else %}
    {% extends 'base.html' %}
    {% block content %}

    <script src="{{ url_for('static', filename='expand-post.js') }}?1"></script>

    {% include 'sort-top.html' %}

    <div class="active-sub-users">
    {{ get_word('Users Active', cap_all=True) }}&nbsp;&nbsp;<span class="text-white">{{ sub_stats['active_users'] }}</span>
        <br>
    {{ get_word('Posts Today', cap_all=True) }}&nbsp;&nbsp;<span class="text-white">{{ sub_stats['posts_today'] }}</span>
    </div>

    {% for post in posts %}
        {% include 'sub-post.html' %}
        {% if loop.last %}
            {% if 'offset' in request.environ['QUERY_STRING'] %}
                {% set prev_off_url = request.environ['PATH_INFO'] + offset_url(request.environ['QUERY_STRING'], 'prev') %}
                <a href="{{ prev_off_url }}" id="prev-button" class="sub-posts-next">
                    <button type="button" class="btn btn-secondary">{{ get_word('prev') }}</button>
                </a>
            {% endif %}

            {% if post.is_more %}
                {% set next_off_url = request.environ['PATH_INFO'] + offset_url(request.environ['QUERY_STRING'], 'next') %}
                <a href="{{ next_off_url }}" class="sub-posts-next">
                    <button type="button" class="btn btn-secondary">{{ get_word('next') }}</button>
                </a>
            {% endif %}
        {% endif %}
    {% else %}
        <p> {{ get_word('no posts') }} </p>
    {% endfor %}

    {% endblock %}
{% endif %}
